<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>마이페이지 | 글벗문구</title>
	<!--/* CSS */-->
   	<link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <th:block layout:fragment="css">
	    <link th:href="@{/css/customtable.css}" rel="stylesheet">
	    <style>
			.table-hover > tbody > tr:hover > *, .dataTable-table > tbody > tr:hover > * {
				--bs-table-accent-bg: none !important;
				border-bottom: 0 !important;
				cursor: default;
			}
	    </style>
	</th:block>
</head>
<body th:replace="/fragments/mypage.html :: mypage">
	<div layout:fragment="mypageContent">
		<nav class="mypage-breadcrumb" aria-label="breadcrumb" th:object="${ memberOrderDetails }">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">HOME</a></li>
				<li class="breadcrumb-item"><a th:href="@{/mypage/main}">마이페이지</a></li>
			    <li class="breadcrumb-item"><a th:href="@{/mypage/order}">주문/배송목록</a></li>
			    <li class="breadcrumb-item active" aria-current="page" th:text="|주문번호 *{ orderNo }|"></li>
			</ol>
		</nav>
		<div class="mypage-area">
			<fieldset>
				<legend>주문상세정보</legend>
			</fieldset>
			<div class="orderDetailCard card mb-4" th:object="${ memberOrderDetails }">
				<div class="card-body">
					<b>주문일자</b>
					<span th:text="*{ orderDate }"></span>
					<b>주문번호</b>
					<span th:text="*{ orderNo }"></span>
				</div>
			</div>
			<div class="orderdetail-container dataTable-container">
				<table class="orderdetail-table dataTable-table">
					<thead>
			    		<tr>
			    			<th colspan="2"><span>상품명(옵션)</span></th>
			    			<th><span>상품금액(수량)</span></th>
			    			<th><span>배송비/판매자</span></th>
			    			<th><span>진행상태</span></th>
			    			<th><span>상품출고일</span></th>
			    			<th><span>배송완료일</span></th>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr th:each="detail : ${ orderOptionList }" th:if="${not #lists.isEmpty(detail)}">
			    			<td><img th:src="*{ detail.product.attachmentList[0].thumbnailPath }" style="width: 80px; height: 80px;"></td>
			    			<td class="option-area">
			    				<a th:href="@{/product/details(no=*{ detail.product.prodNo })}" th:text="${ detail.product.prodName }"></a>
			    				<p>
			    					<span th:text="|${ detail.option.pointSize }mm|"></span>
				    				<th:block th:if="${ detail.option.bodyColor != '(해당없음)' }">
				    					<span th:text="|/ ${#strings.replace(detail.option.bodyColor, '$', ',')}|"></span>
				    				</th:block>
				    				<th:block th:if="${ detail.option.inkColor != '(해당없음)' }">
				    					<span th:text="|/ ${#strings.replace(detail.option.inkColor, '$', ',')}|"></span>
				    				</th:block>
				    			</p>
			    			</td>
			    			<td>
			    				<span th:text="|${#numbers.formatInteger(detail.orderAmount, 3, 'COMMA')}원|"></span><br>
			    				<p><span th:text="|(${ detail.orderQuantity }개)|"></span></p>
			    			</td>
			    			<td class="detail">
			    				<th:block th:if="${ memberOrderDetails.delivery.deliveryFee > 0}">
				    				<span th:text="|${#numbers.formatInteger(memberOrderDetails.delivery.deliveryFee, 3, 'COMMA')}원|"></span><br>
			    				</th:block>
			    				<th:block th:if="${ memberOrderDetails.delivery.deliveryFee == 0}">
				    				<span th:text="|0원|"></span><br>
			    				</th:block>
			    				<p><span th:text="${ memberOrderDetails.brand.brandName }"></span></p>
			    			</td>
			    			<td class="detail" th:text="${ memberOrderDetails.dlvrStatus }"></td>
			    			<!-- 배송상태는 상품준비중 > 배송중 > 배송완료로 구분 -->
			    			<th:block th:switch="${ memberOrderDetails.dlvrStatus }">
				    			<th:block th:case="'상품준비중'">
					    			<td>-</td>
					    			<td>-</td>
				    			</th:block>
				    			<th:block th:case="'배송중'">
					    			<td th:text="${#dates.format(memberOrderDetails.delivery.dispatchDate, 'yyyy-MM-dd')}"></td>
					    			<td>-</td>
				    			</th:block>
				    			<th:block th:case="'배송완료'">
					    			<td class="detail" th:text="${#dates.format(memberOrderDetails.delivery.dispatchDate, 'yyyy-MM-dd')}"></td>
					    			<td class="detail" th:text="${#dates.format(memberOrderDetails.delivery.deliveryDate, 'yyyy-MM-dd')}"></td>
				    			</th:block>
			    			</th:block>
			    		</tr>
			    	</tbody>
			    </table>
				<fieldset>
					<legend>주문/결제 금액 정보</legend>
				</fieldset>
				<table th:object="${ memberOrderDetails }">
					<colgroup>
						<col style="width: 10%;">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th>상품금액</th>
							<td><input type="text" th:value="|+ ${#numbers.formatInteger(totalOrderAmount, 3, 'COMMA')}원|" readonly></td>
						</tr>
						<tr>
							<th>배송비</th>
							<td>
							<th:block th:if="*{ delivery.deliveryFee > 0}">
								<input type="text" th:value="|+ ${#numbers.formatInteger(memberOrderDetails.delivery.deliveryFee, 3, 'COMMA')}원|" readonly>
							</th:block>
							<th:block th:if="*{ delivery.deliveryFee == 0}">
								<input type="text" th:value="|+ 0원|" readonly>
							</th:block>
							</td>
						</tr>
						<tr>
							<th>포인트 사용</th>
							<td><input type="text" th:value="|- ${#numbers.formatInteger(memberOrderDetails.point.pointAmount, 3, 'COMMA')}원|" readonly></td>
						</tr>
						<tr>
							<th>총 결제금액</th>
							<td><input type="text" th:value="|${#numbers.formatInteger(memberOrderDetails.payment.paymentAmount, 3, 'COMMA')}원|" readonly></td>
						</tr>
						<tr>
							<th>결제수단</th>
							<td><input type="text" th:value="|*{ payment.paymentMethod }(*{ payment.paymentDateTime })|" readonly></td>
						</tr>
					</tbody>
				</table>
				<fieldset>
					<legend>배송지 정보</legend>
				</fieldset>
				<table class="delivery-table" th:object="${ memberOrderDetails }">
					<colgroup>
						<col style="width: 10%;">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th>수령인</th>
							<td><input type="text" th:value="*{ rcvrName }" readonly></td>
						</tr>
						<tr>
							<th>연락처</th>
							<td><input type="text" th:value="*{ rcvrPhone }" readonly></td>
						</tr>
						<tr>
							<th>배송지</th>
							<td><input type="text" th:value="*{ rcvrAddress }" readonly></td>
						</tr>
						<tr>
							<th>배송메모</th>
							<td><input type="text" th:value="*{ dlvrReqMessage }" readonly></td>
						</tr>
						<tr>
							<th>배송업체</th>
							<td><input type="text" th:value="|*{ delivery.deliveryCompany }(*{ brand.brandName })|" readonly></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="buttonBox">
				<button type="button" class="cancelBtn btn btn-dark" onclick="history.back()">뒤로가기</button>
			</div>
		</div>
	</div>
	<!--/* JS */-->
    <th:block layout:fragment="script">
    	<script type="text/javascript">
	    	/* 주문상세 테이블 병합 */
	    	$(document).ready(function(){
		    	$('.detail').each(function(){
		    		let rows = $(".detail:contains('" + $(this).text() + "')");
		    		console.log(rows);
		    		if(rows.length > 1) {
		    			rows.eq(0).attr('rowspan', rows.length);
		    			rows.not(':eq(0)').remove();
		    		}
		    	});
	    	});
    	</script>
	</th:block>
</body>
</html>