<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin}">
<head>
	<meta charset="UTF-8">
	<title>관리자페이지 | 글벗문구</title>
	<!-- CSS -->
    <th:block layout:fragment="css">
	    <link th:href="@{/css/customtable.css}" rel="stylesheet">
	    <link th:href="@{/css/selector.css}" rel="stylesheet">
	    <link th:href="@{/css/thumbnail.css}" rel="stylesheet">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
	</th:block>
</head>
<body layout:fragment="content">
	<h1>상품 등록</h1>
	<hr>
	<div class="container content-wrapper">
		<div class="addBox">
			<form id="addForm" name="addForm" class="add-form" th:action="@{/admin/product/add}" method="post" enctype="multipart/form-data">
				<ul>
					<li class="th"><p>등록 구분</p></li>
					<li class="td">
						<select id="addSection" name="addSection" class="dataTable-selector selector">
							<option value="new">신상품</option>
							<option value="restock">재입고</option>
						</select>
						<input type="text" id="today" name="today" disabled>
					</li>
				</ul>
				<hr>
				<!-- 현재 등록돼 있는 카테고리 목록 호출, 사용자가 추가 가능 -->
				<ul>
					<li class="th"><p>카테고리</p></li>
					<li class="td">
						<select id="categoryName" name="categoryName" class="dataTable-selector selector" onchange="addACategory();">
							<option th:each="category : ${ category }" th:value="${ category.categoryName }" th:text="${ category.categoryName }"></option>
							<option value="etc">새 카테고리 추가</option>
						</select>
						<input type="text" id="addNewCategory" name="addNewCategory" disabled>
					</li>
				</ul>
				<ul>
					<li class="th"><p>상품명</p></li>
					<li class="td">
						<input type="text" id="prodName" name="prodName">
					</li>
				</ul>
				<ul>
					<li class="th"><p>상품 설명</p></li>
					<li class="td">
						<input type="text" id="prodDesc" name="prodDesc">
					</li>
				</ul>
				<!-- ProductTag ENUM 호출 -->
				<ul>
					<li class="th"><p>주요 특징</p></li>
					<li class="td">
						<select id="tag" name="tag" multiple>
							<option th:each="tag : ${T(com.reminder.geulbeotmall.product.model.dto.ProductTag).values()}" th:value="${ tag.getLabel() }" th:text="${ tag.getLabel() }"></option>
						</select>
					</li>
				</ul>
				<!-- DiscountRate ENUM 호출 -->
				<ul>
					<li class="th"><p>할인율 및 원가</p></li>
					<li class="td">
						<select id="discount" name="discount" class="dataTable-selector selector">
							<option th:each="rate : ${T(com.reminder.geulbeotmall.product.model.dto.DiscountRate).values()}" th:value="${ rate.getValue() }" th:text="|${ rate.getValue() }%|"></option>
						</select>
						<input type="number" id="prodPrice" name="prodPrice">
					</li>
				</ul>
				<!-- 현재 등록돼 있는 브랜드 목록 호출, 사용자가 추가 가능 -->
				<ul>
					<li class="th"><p>브랜드</p></li>
					<li class="td">
						<select id="brandName" name="brandName" class="dataTable-selector selector" onchange="addABrand();">
							<option th:each="brand : ${ brand }" th:value="${ brand.brandName }" th:text="${ brand.brandName }"></option>
							<option value="etc">새 브랜드 추가</option>
						</select>
						<input type="text" id="addNewBrand" name="addNewBrand" disabled>
					</li>
				</ul>
				<ul>
					<li class="th"><p>원산지</p></li>
					<li class="td">
						<input type="text" id="prodOrigin" name="prodOrigin">
					</li>
				</ul>
				<ul>
					<li class="th"><p>추가된 옵션</p></li>
				</ul>
				<ul>
					<li class="td">
						<input type="text" id="addedOption0" name="addedOption0" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption1" name="addedOption1" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption2" name="addedOption2" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption3" name="addedOption3" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption4" name="addedOption4" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption5" name="addedOption5" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption6" name="addedOption6" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption7" name="addedOption7" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption8" name="addedOption8" disabled>
					</li>
				</ul>
				<ul hidden="hidden">
					<li class="td">
						<input type="text" id="addedOption9" name="addedOption9" disabled>
					</li>
				</ul>
				<hr>
				<div class="card mb-4">
   					<div class="card-body">
   						<!-- ProductBodyColor ENUM 호출 -->
						<ul>
							<li class="th"><p>바디컬러</p></li>
							<li class="td">
								<select id="bodyColor" name="bodyColor" multiple>
									<option th:each="body : ${T(com.reminder.geulbeotmall.product.model.dto.ProductBodyColor).values()}" th:value="${ body.getValue() }" th:text="${ body.getLabel() }"></option>
								</select>
							</li>
						</ul>
   						<!-- ProductInkColor ENUM 호출 -->
						<ul>
							<li class="th"><p>잉크컬러</p></li>
							<li class="td">
								<select id="inkColor" name="inkColor" multiple>
									<option th:each="ink : ${T(com.reminder.geulbeotmall.product.model.dto.ProductInkColor).values()}" th:value="${ ink.getValue() }" th:text="${ ink.getLabel() }"></option>
								</select>
							</li>
						</ul>
   						<!-- PointSize ENUM 호출 -->
						<ul>
							<li class="th"><p>심두께 및 스펙</p></li>
							<li class="td">
								<select id="pointSize" name="pointSize" multiple>
									<option th:each="size : ${T(com.reminder.geulbeotmall.product.model.dto.PointSize).values()}" th:value="${ size.getValue() }" th:text="|${ size.getValue() }mm|"></option>
								</select>
							</li>
						</ul>
						<ul>
							<li class="th"><p>입고량</p></li>
							<li class="td">
								<input type="number" id="amount" name="amount" min="1" max="999">
							</li>
						</ul>
						<ul>
							<li class="th"><p>옵션별 추가 금액</p></li>
							<li class="td">
								<input type="number" id="extraCharge" name="extraCharge">
							</li>
						</ul>
						<div class="optionBox">
							<button type="button" id="deleteOpt" class="btn btn-outline-danger">다시쓰기</button>
							&nbsp;&nbsp;&nbsp;
							<button type="button" id="addOpt" class="btn btn-outline-secondary">옵션추가</button>
						</div>
   					</div>
   				</div>
				<div class="contentBox">
	   				<ul>
						<li class="th"><p>상세 내용</p></li>
					</ul>
					<textarea id="prodDetailContent" name="prodDetailContent"></textarea>
				</div>
				<div class="thumbnailBox">
					<ul>
						<li class="th"><p>대표 썸네일</p></li>
						<li class="thumbTd">
							<div class="imageBox">
								<label for="mainThumb" class="thumbLabel">
									<i class="fa-solid fa-image" style="font-size: 300%;"></i>
								</label>
							</div>
						</li>
					</ul>
					<ul>
						<li class="th"><p>서브 썸네일</p></li>
						<li class="thumbTd">
							<div class="imageBox">
								<label for="subThumb" class="thumbLabel">
									<i class="fa-solid fa-image" style="font-size: 300%;"></i>
								</label>
							</div>
						</li>
					</ul>
					<input type="file" id="mainThumb" name="files" class="files" accept="image/gif,image/jpeg,image/png" style="display: none;">
					<input type="file" id="subThumb" name="files" class="files" accept="image/gif,image/jpeg,image/png" style="display: none;">
				</div>
   				<div class="buttonBox">
					<button type="button" class="btn btn-dark" onclick="submitProductForm()">상품등록</button>
				</div>
			</form>
		</div>
	</div>
	<!-- JS -->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/selector.js}" type="text/javascript"></script>
    	<script th:src="@{/js/product.js}" type="text/javascript"></script>
    	
    	<!-- CKEditor4 -->
	  	<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
	  	<script type="text/javascript">
	  	$(function() {
			let ckeditor_config = {
					filebrowserUploadMethod : 'form',
					filebrowserUploadUrl : '/admin/product/add/contentImageUpload',
					language : 'ko'
			};
			CKEDITOR.replace('prodDetailContent', ckeditor_config);
	  	});
		</script>
		
    	<!-- Select2 -->
    	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	</th:block>
</body>
</html>