<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin}">
<head>
	<meta charset="UTF-8">
	<title>관리자페이지 | 글벗문구</title>
	<!-- CSS -->
    <th:block layout:fragment="css">
	    <link th:href="@{/css/customtable.css}" rel="stylesheet">
	</th:block>
</head>
<body layout:fragment="content">
	<h1>상품 목록</h1>
	<hr>
	<div class="card mb-4">
    	<div class="card-body">
			<div class="search-container">
				<form id="searchForm" name="searchForm" class="search-form" th:object="${criteria}" th:action="@{/admin/product/list}" method="get" onsubmit="checkKeywordForProduct()">
					<select id="condition" name="condition" class="dataTable-selector">
						<option value="prodName" th:selected="*{condition} eq 'prodName'">상품명</option>
						<option value="brand" th:selected="*{condition} eq 'brand'">브랜드</option>
						<option value="category" th:selected="*{condition} eq 'category'">카테고리</option>
						<option value="bodyColor" th:selected="*{condition} eq 'bodyColor'">바디컬러</option>
						<option value="inkColor" th:selected="*{condition} eq 'inkColor'">잉크컬러</option>
						<option value="pointSize" th:selected="*{condition} eq 'pointSize'">심두께</option>
						<option value="tag" th:selected="*{condition} eq 'tag'">태그</option>
					</select>
					<input type="search" name="keyword" th:field="*{keyword}" class="form-control search-bar" autocomplete="off">
					<input type="hidden" name="currentPageNo" th:field="*{currentPageNo}">
					<input type="hidden" name="recordsPerPage" th:field="*{recordsPerPage}">
					<button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
				</form>
			</div>
    	</div>
    </div>
    <!-- 전체상품 | 판매중상품 | 판매중지상품 구분하기 위한 탭. 추가로 베스트 | 할인중 | 품절 상품 조회 -->
    <!-- id, data-bs-target, aria-controls 속성값을 일치시켜 myTabContent로부터 불러올 값 지정 -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="total-tab" data-bs-toggle="tab" data-bs-target="#total" type="button" role="tab" aria-controls="total" aria-selected="true">전체 <b th:text="${ total }" style="color: #ff0000;"></b></button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="onSale-tab" data-bs-toggle="tab" data-bs-target="#onSale" type="button" role="tab" aria-controls="onSale" aria-selected="false">판매중 <b th:text="${ onSale }" style="color: #ff0000;"></b></button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="stopSale-tab" data-bs-toggle="tab" data-bs-target="#stopSale" type="button" role="tab" aria-controls="stopSale" aria-selected="false">판매중지 <b th:text="${ stopSale }" style="color: #ff0000;"></b></button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="bestSelling-tab" data-bs-toggle="tab" data-bs-target="#bestSelling" type="button" role="tab" aria-controls="bestSelling" aria-selected="false">베스트 <b th:text="${ bestSelling }" style="color: #6c757d;"></b></button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="onDiscount-tab" data-bs-toggle="tab" data-bs-target="#onDiscount" type="button" role="tab" aria-controls="onDiscount" aria-selected="false">할인중 <b th:text="${ onDiscount }" style="color: #6c757d;"></b></button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="soldOut-tab" data-bs-toggle="tab" data-bs-target="#soldOut" type="button" role="tab" aria-controls="soldOut" aria-selected="false">품절 <b th:text="${ soldOut }" style="color: #6c757d;"></b></button>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<!-- 전체 상품 -->
		<div class="tab-pane fade show active" id="total" role="tabpanel" aria-labelledby="total-tab">
            <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr>
                    	<th><input type="checkbox" class="input-checkbox checkAll"></th>
                    	<th><span>상품번호</span></th>
                    	<th><span>카테고리</span></th>
                    	<th><span>브랜드</span></th>
                    	<th><span>대표 썸네일</span></th>
                    	<th><span>상품명</span></th>
                    	<th><span>할인율</span></th>
                    	<th><span>판매가</span></th>
                    	<th><span>판매량</span></th>
                    	<th><span>조회수</span></th>
                    	<th><span>옵션/재고</span></th>
                    	<th><span>판매여부</span></th>
                    	<th><span>상세 정보</span></th>
                   	</tr>
                </thead>
                <tbody>
                	<tr th:each="product : ${ productList }" th:if="${not #lists.isEmpty(productList)}" th:with="cri=${criteria}, total=${total}">
                		<td><input type="checkbox" class="input-checkbox item" name="checkItem"></td>
	                	<td th:text="${ product.prodNo }"></td>
	                	<td th:text="${ product.category.categoryName }"></td>
	                	<td th:text="${ product.brand.brandName }"></td>
	                	
	                	<!-- 대표썸네일 -->
	                	<td th:each="thumbnail : ${ thumbnailList }" th:if="${product.prodNo == thumbnail.refProdNo}">
	                		<img th:src="${ thumbnail.thumbnailPath }" style="width: 100px; height: 100px;">
	                	</td>
	                	
	                	<!-- 상품명 -->
	                	<td th:text="${ product.prodName }"></td>
	                	
	                	<!-- 할인율 -->
	                	<td th:text="|${ product.discountRate }%|"></td>
	                	
	                	<!-- 판매가A. 할인 대상이 아닌 경우 원가 그대로 출력 -->
	                	<td th:if="${product.discountRate} == 0" th:text="${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')} + '원'"></td>
	                	<!-- 판매가B. 적용된 할인율이 0% 이상인 경우 판매가 산정하여 출력 -->
	                	<td th:if="${product.discountRate} > 0">
	                		<del><span th:text="${ product.prodPrice }"></span></del>
	                		<span th:text="${#numbers.formatInteger(product.prodPrice - (product.prodPrice * product.discountRate / 100), 3, 'COMMA')} + '원'"></span>
	                	</td>
	                	
	                	<!-- 판매량 -->
	                	<!-- 상단의 product 목록 기준으로 생성된 index 활용 -->
	                	<td th:text="${ salesList[productStat.index] }"></td>
	                	
	                	<!-- 조회수 -->
	                	<td th:text="${ product.prodDetailViewCount }"></td>
	                	
	                	<!-- 옵션/재고 -->
	                	<!-- 태그 인식 위해서 escape 적용되는 th:text 대신 th:utext 사용 -->
	                	<td>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount > 0 }" th:utext="'바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)'"></div>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount == 0 }" th:utext="'<del>바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)</del>'"></div>
	                	</td>
	                	
	                	<!-- 판매여부 -->
	                	<td th:switch="${ product.prodAvailYn }">
	                		<span th:case="Y">판매중</span>
	                		<span th:case="N">판매중지</span>
	                	</td>
	                	
	                	<!-- 상세 정보 -->
	                	<td><a th:href="@{/admin/product/edit(no=${product.prodNo})}"><button type="button" class="btn btn-sm btn-light">수정</button></a></td>
                	</tr>
                	<tr th:unless="${#lists.size(productList)} > 0">
                		<td colspan="13">조회된 결과가 없습니다.</td>
                	</tr>
               	</tbody>
            </table>
            </div>
		</div>
		<!-- 판매중 -->
		<div class="tab-pane fade show" id="onSale" role="tabpanel" aria-labelledby="onSale-tab">
            <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr>
                    	<th><input type="checkbox" class="input-checkbox checkAll"></th>
                    	<th><span>상품번호</span></th>
                    	<th><span>카테고리</span></th>
                    	<th><span>브랜드</span></th>
                    	<th><span>대표 썸네일</span></th>
                    	<th><span>상품명</span></th>
                    	<th><span>할인율</span></th>
                    	<th><span>판매가</span></th>
                    	<th><span>판매량</span></th>
                    	<th><span>조회수</span></th>
                    	<th><span>옵션/재고</span></th>
                    	<th><span>판매여부</span></th>
                    	<th><span>상세 정보</span></th>
                   	</tr>
                </thead>
                <tbody>
                	<tr th:each="product : ${ onSaleOnly }" th:if="${not #lists.isEmpty(onSaleOnly)}" th:with="cri=${criteria}, onSale=${onSale}">
                		<td><input type="checkbox" class="input-checkbox item" name="checkItem"></td>
	                	<td th:text="${ product.prodNo }"></td>
	                	<td th:text="${ product.category.categoryName }"></td>
	                	<td th:text="${ product.brand.brandName }"></td>
	                	<td th:each="thumbnail : ${ thumbnailList }" th:if="${product.prodNo == thumbnail.refProdNo}">
	                		<img th:src="${ thumbnail.thumbnailPath }" style="width: 100px; height: 100px;">
	                	</td>
	                	<td th:text="${ product.prodName }"></td>
	                	<td th:text="|${ product.discountRate }%|"></td>
	                	<td th:if="${product.discountRate} == 0" th:text="${ product.prodPrice } + '원'"></td>
	                	<td th:if="${product.discountRate} > 0">
	                		<del><span th:text="${ product.prodPrice }"></span></del>
	                		<span th:text="${ product.prodPrice - (product.prodPrice * product.discountRate / 100)} + '원'"></span>
	                	</td>
	                	<td th:text="0"></td>
	                	<td th:text="${ product.prodDetailViewCount }"></td>
	                	<td>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount > 0 }" th:utext="'바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)'"></div>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount == 0 }" th:utext="'<del>바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)</del>'"></div>
	                	</td>
	                	<td th:switch="${ product.prodAvailYn }">
	                		<span th:case="Y">판매중</span>
	                		<span th:case="N">판매중지</span>
	                	</td>
	                	<td><a th:href="@{/admin/product/edit(no=${product.prodNo})}"><button type="button" class="btn btn-sm btn-light">수정</button></a></td>
                	</tr>
                	<tr th:unless="${#lists.size(onSaleOnly)} > 0">
                		<td colspan="13">조회된 결과가 없습니다.</td>
                	</tr>
               	</tbody>
            </table>
            </div>
		</div>
		<!-- 판매중지 -->
		<div class="tab-pane fade show" id="stopSale" role="tabpanel" aria-labelledby="stopSale-tab">
            <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr>
                    	<th><input type="checkbox" class="input-checkbox checkAll"></th>
                    	<th><span>상품번호</span></th>
                    	<th><span>카테고리</span></th>
                    	<th><span>브랜드</span></th>
                    	<th><span>대표 썸네일</span></th>
                    	<th><span>상품명</span></th>
                    	<th><span>할인율</span></th>
                    	<th><span>판매가</span></th>
                    	<th><span>판매량</span></th>
                    	<th><span>조회수</span></th>
                    	<th><span>옵션/재고</span></th>
                    	<th><span>판매여부</span></th>
                    	<th><span>상세 정보</span></th>
                   	</tr>
                </thead>
                <tbody>
                	<tr th:each="product : ${ stopSaleOnly }" th:if="${not #lists.isEmpty(stopSaleOnly)}" th:with="cri=${criteria}, stopSale=${stopSale}">
                		<td><input type="checkbox" class="input-checkbox item" name="checkItem"></td>
	                	<td th:text="${ product.prodNo }"></td>
	                	<td th:text="${ product.category.categoryName }"></td>
	                	<td th:text="${ product.brand.brandName }"></td>
	                	<td th:each="thumbnail : ${ thumbnailList }" th:if="${product.prodNo == thumbnail.refProdNo}">
	                		<img th:src="${ thumbnail.thumbnailPath }" style="width: 100px; height: 100px;">
	                	</td>
	                	<td th:text="${ product.prodName }"></td>
	                	<td th:text="|${ product.discountRate }%|"></td>
	                	<td th:if="${product.discountRate} == 0" th:text="${ product.prodPrice } + '원'"></td>
	                	<td th:if="${product.discountRate} > 0">
	                		<del><span th:text="${ product.prodPrice }"></span></del>
	                		<span th:text="${ product.prodPrice - (product.prodPrice * product.discountRate / 100)} + '원'"></span>
	                	</td>
	                	<td th:text="0"></td>
	                	<td th:text="${ product.prodDetailViewCount }"></td>
	                	<td>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount > 0 }" th:utext="'바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)'"></div>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount == 0 }" th:utext="'<del>바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)</del>'"></div>
	                	</td>
	                	<td th:switch="${ product.prodAvailYn }">
	                		<span th:case="Y">판매중</span>
	                		<span th:case="N">판매중지</span>
	                	</td>
	                	<td><a th:href="@{/admin/product/edit(no=${product.prodNo})}"><button type="button" class="btn btn-sm btn-light">수정</button></a></td>
                	</tr>
                	<tr th:unless="${#lists.size(stopSaleOnly)} > 0">
                		<td colspan="13">조회된 결과가 없습니다.</td>
                	</tr>
               	</tbody>
            </table>
            </div>
		</div>
		<!-- 할인중 -->
		<div class="tab-pane fade show" id="onDiscount" role="tabpanel" aria-labelledby="onDiscount-tab">
            <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr>
                    	<th><input type="checkbox" class="input-checkbox checkAll"></th>
                    	<th><span>상품번호</span></th>
                    	<th><span>카테고리</span></th>
                    	<th><span>브랜드</span></th>
                    	<th><span>대표 썸네일</span></th>
                    	<th><span>상품명</span></th>
                    	<th><span>할인율</span></th>
                    	<th><span>판매가</span></th>
                    	<th><span>판매량</span></th>
                    	<th><span>조회수</span></th>
                    	<th><span>옵션/재고</span></th>
                    	<th><span>판매여부</span></th>
                    	<th><span>상세 정보</span></th>
                   	</tr>
                </thead>
                <tbody>
                	<tr th:each="product : ${ onDiscountOnly }" th:if="${not #lists.isEmpty(onDiscountOnly)}" th:with="cri=${criteria}, onDiscount=${onDiscount}">
                		<td><input type="checkbox" class="input-checkbox item" name="checkItem"></td>
	                	<td th:text="${ product.prodNo }"></td>
	                	<td th:text="${ product.category.categoryName }"></td>
	                	<td th:text="${ product.brand.brandName }"></td>
	                	<td th:each="thumbnail : ${ thumbnailList }" th:if="${product.prodNo == thumbnail.refProdNo}">
	                		<img th:src="${ thumbnail.thumbnailPath }" style="width: 100px; height: 100px;">
	                	</td>
	                	<td th:text="${ product.prodName }"></td>
	                	<td th:text="|${ product.discountRate }%|"></td>
	                	<td th:if="${product.discountRate} == 0" th:text="${ product.prodPrice } + '원'"></td>
	                	<td th:if="${product.discountRate} > 0">
	                		<del><span th:text="${ product.prodPrice }"></span></del>
	                		<span th:text="${ product.prodPrice - (product.prodPrice * product.discountRate / 100)} + '원'"></span>
	                	</td>
	                	<td th:text="0"></td>
	                	<td th:text="${ product.prodDetailViewCount }"></td>
	                	<td>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount > 0 }" th:utext="'바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)'"></div>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount == 0 }" th:utext="'<del>바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)</del>'"></div>
	                	</td>
	                	<td th:switch="${ product.prodAvailYn }">
	                		<span th:case="Y">판매중</span>
	                		<span th:case="N">판매중지</span>
	                	</td>
	                	<td><a th:href="@{/admin/product/edit(no=${product.prodNo})}"><button type="button" class="btn btn-sm btn-light">수정</button></a></td>
                	</tr>
                	<tr th:unless="${#lists.size(onDiscountOnly)} > 0">
                		<td colspan="13">조회된 결과가 없습니다.</td>
                	</tr>
               	</tbody>
            </table>
            </div>
		</div>
		<!-- 품절 -->
		<div class="tab-pane fade show" id="soldOut" role="tabpanel" aria-labelledby="soldOut-tab">
            <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr>
                    	<th><input type="checkbox" class="input-checkbox checkAll"></th>
                    	<th><span>상품번호</span></th>
                    	<th><span>카테고리</span></th>
                    	<th><span>브랜드</span></th>
                    	<th><span>대표 썸네일</span></th>
                    	<th><span>상품명</span></th>
                    	<th><span>할인율</span></th>
                    	<th><span>판매가</span></th>
                    	<th><span>판매량</span></th>
                    	<th><span>조회수</span></th>
                    	<th><span>옵션/재고</span></th>
                    	<th><span>판매여부</span></th>
                    	<th><span>상세 정보</span></th>
                   	</tr>
                </thead>
                <tbody>
                	<tr th:each="product : ${ soldOutOnly }" th:if="${not #lists.isEmpty(soldOutOnly)}" th:with="cri=${criteria}, soldOut=${soldOut}">
                		<td><input type="checkbox" class="input-checkbox item" name="checkItem"></td>
	                	<td th:text="${ product.prodNo }"></td>
	                	<td th:text="${ product.category.categoryName }"></td>
	                	<td th:text="${ product.brand.brandName }"></td>
	                	<td th:each="thumbnail : ${ thumbnailList }" th:if="${product.prodNo == thumbnail.refProdNo}">
	                		<img th:src="${ thumbnail.thumbnailPath }" style="width: 100px; height: 100px;">
	                	</td>
	                	<td th:text="${ product.prodName }"></td>
	                	<td th:text="|${ product.discountRate }%|"></td>
	                	<td th:if="${product.discountRate} == 0" th:text="${ product.prodPrice } + '원'"></td>
	                	<td th:if="${product.discountRate} > 0">
	                		<del><span th:text="${ product.prodPrice }"></span></del>
	                		<span th:text="${ product.prodPrice - (product.prodPrice * product.discountRate / 100)} + '원'"></span>
	                	</td>
	                	<td th:text="0"></td>
	                	<td th:text="${ product.prodDetailViewCount }"></td>
	                	<td>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount > 0 }" th:utext="'바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)'"></div>
		                	<div th:each="option : ${ optionList }" th:if="${product.prodNo == option.refProdNo && option.stock.stockAmount == 0 }" th:utext="'<del>바디컬러_<b>' + ${ option.bodyColor } + '</b> | ' + '잉크컬러_<b>' + ${ option.inkColor } + '</b> | ' + '심두께및스펙_<b>' + ${ option.pointSize } + 'mm</b> | ' + '추가금액_<b>' + ${ option.extraCharge } + '원</b>' + '(재고 <b>' + ${ option.stock.stockAmount } + '개' + '</b>)</del>'"></div>
	                	</td>
	                	<td th:switch="${ product.prodAvailYn }">
	                		<span th:case="Y">판매중</span>
	                		<span th:case="N">판매중지</span>
	                	</td>
	                	<td><a th:href="@{/admin/product/edit(no=${product.prodNo})}"><button type="button" class="btn btn-sm btn-light">수정</button></a></td>
                	</tr>
                	<tr th:unless="${#lists.size(soldOutOnly)} > 0">
                		<td colspan="13">조회된 결과가 없습니다.</td>
                	</tr>
               	</tbody>
            </table>
            </div>
		</div>
	</div>
	<th:block layout:fragment="paging">
		<nav th:replace="/fragments/paging.html :: paging"></nav>
	</th:block>
    <th:block layout:fragment="productToolbar">
		<div th:replace="/fragments/toolbar.html :: productToolbar"></div>
	</th:block>
	<!-- JS -->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/search.js}" type="text/javascript"></script>
    	<script th:src="@{/js/manageProductList.js}" type="text/javascript"></script>
	</th:block>
</body>
</html>