<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>고객센터 | 글벗문구</title>
	<!-- CSS -->
    <th:block layout:fragment="css">
	    <link th:href="@{/css/customerservice.css}" rel="stylesheet">
	    <link th:href="@{/css/paging.css}" rel="stylesheet">
    </th:block>
</head>
<body layout:fragment="content">
	<div class="title-wrapper">
        <h2>고객센터</h2>
    </div>
	<div class="container content-wrapper">
		<!--/* 공지사항 | 1:1문의 */-->
		<ul class="nav nav-tabs" id="customerServiceTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="notice-tab" data-bs-toggle="tab" data-bs-target="#notice" type="button" role="tab" aria-controls="notice" aria-selected="false">공지사항</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="inquiry-tab" data-bs-toggle="tab" data-bs-target="#inquiry" type="button" role="tab" aria-controls="inquiry" aria-selected="true">1:1 문의</button>
			</li>
		</ul>
		<div class="tab-content" id="customerServiceTabContent">
			<!--/* 공지사항 */-->
			<div class="tab-pane fade show" id="notice" role="tabpanel" aria-labelledby="notice-tab">
				<table class="noticelist-table board-table">
					<colgroup>
						<col width="5%">
						<col width="70%">
						<col width="15%">
						<col width="10%">
					</colgroup>
					<thead>
			    		<tr>
			    			<th colspan="2">제목</th>
			    			<th>작성일</th>
			    			<th>조회수</th>
			    		</tr>
					</thead>
			    	<tbody>
			    		<tr>
			    			<td>1</td>
			    			<td>테스트</td>
			    			<td>22.22.22</td>
			    			<td>100</td>
			    		</tr>
			    	</tbody>
			    </table>
			    <!--/* 관리자 한정 버튼 활성화 */-->
			    <th:block sec:authorize="hasRole('ADMIN')">
				    <div class="button-area">
				    	<button type="button" class="writeBtn btn btn-sm">글쓰기</button>
				    	<button type="button" class="deleteBtn btn btn-sm">삭제</button>
				    </div>
			    </th:block>
			</div>
			
			<!--/* 1:1 문의 */-->
			<div class="tab-pane fade show active" id="inquiry" role="tabpanel" aria-labelledby="inquiry-tab">
				<table class="inquirylist-table board-table">
					<colgroup>
						<col width="5%">
						<col width="70%">
						<col width="15%">
						<col width="10%">
					</colgroup>
					<thead>
			    		<tr>
			    			<th colspan="2">제목</th>
			    			<th>작성일</th>
			    			<th>답변상태</th>
			    		</tr>
					</thead>
			    	<tbody>
			    		<!--/* 회원 */-->
			    		<tr th:each="inquiry, loop : ${ memberInquiry }" th:if="${not #lists.isEmpty(memberInquiry)}">
			    			<td th:text="${ total - ((criteria.currentPageNo-1) * pageMaker.pageSize) - loop.index }"></td> <!--/* 게시글번호 역순 */-->
			    			<td th:onclick="|location.href='@{/cs/inquiry/details(no=${inquiry.inquiryNo})}'|">
			    				<span style="color: #6c757d; font-size: 14px;">[[${ inquiry.inquiryType }]]</span>
			    				[[${ inquiry.inquiryTitle }]]
			    				<th:block th:each="key : ${ totalCommentNumberMap.keySet() }" th:if="${ key == inquiry.inquiryNo }">
			    					<span class="commentNumberBadge">[[${ totalCommentNumberMap.get(key) }]]</span>
			    				</th:block>
			    			</td>
			    			<td th:text="${#dates.format(inquiry.inquiryRegDate, 'yy.MM.dd')}"></td>
			    			<td th:text="${ inquiry.inquiryAnsweredYn } == 'Y' ? '답변완료' : '미답변'"></td>
			    		</tr>
			    		<tr class="noitem" sec:authorize="isAuthenticated()" th:if="${#lists.isEmpty(memberInquiry)}">
			    			<td colspan="4">
		                		<div><i class="fa-solid fa-circle-exclamation" style="font-size: 300%;"></i></div>
		                		<div>작성된 1:1 문의내역이 없습니다.</div>
			    			</td>
			    		</tr>
			    		<!--/* 비회원 */-->
	                	<tr class="noitem" sec:authorize="isAnonymous()">
	                		<td colspan="4">
		                		<div><i class="fa-solid fa-circle-exclamation" style="font-size: 300%;"></i></div>
		                		<div>1:1 문의 작성을 위해서는 로그인이 필요합니다.</div>
	                		</td>
	                	</tr>
			    	</tbody>
			    </table>
			    <div class="button-area">
			    	<button type="button" class="writeBtn btn btn-sm" th:onclick="|location.href='@{/cs/inquiry}'|">글쓰기</button>
			    </div>
			</div>
			<!--/* paging */-->
			<th:block layout:fragment="paging">
				<nav th:replace="/fragments/paging.html :: paging"></nav>
			</th:block>
			<!--/* search form */-->
			<div class="board-search-container">
				<form id="searchPostCommentForm" name="searchPostCommentForm" class="search-post-comment-form" th:object="${criteria}" th:action="@{/cs/main}" method="get" onsubmit="checkKeywordForInquiry(); return false;">
					<select id="type" name="type">
						<option value="all">문의 유형</option>
						<option value="info">회원정보</option>
						<option value="product">상품</option>
						<option value="order">주문/결제</option>
						<option value="delivery">배송</option>
						<option value="refund">교환/반품/취소</option>
						<option value="reserve">적립금</option>
						<option value="report">신고</option>
						<option value="site">홈페이지 이용</option>
					</select>
					<select id="condition" name="condition" class="dataTable-selector">
						<option value="title" th:selected="*{condition} eq 'title'">제목</option>
						<option value="content" th:selected="*{condition} eq 'content'">내용</option>
						<option value="writer" th:selected="*{condition} eq 'writer'">작성자</option>
						<option value="attachment" th:selected="*{condition} eq 'attachment'">첨부파일명</option>
						<option value="comment" th:selected="*{condition} eq 'comment'">댓글내용</option>
						<option value="commentedBy" th:selected="*{condition} eq 'commentedBy'">댓글작성자</option>
					</select>
					<input type="hidden" name="currentPageNo" th:field="*{currentPageNo}">
					<input type="hidden" name="recordsPerPage" th:field="*{recordsPerPage}">
					<div class="searchBox">
						<input type="search" name="keyword" th:field="*{keyword}" class="form-control search-bar" placeholder="검색어를 입력하세요" autocomplete="off">
						<button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--/* Alert Messages */-->
	<section th:replace="/fragments/alert.html :: alert"></section>
	<!--/* JS */-->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/search.js}" type="text/javascript"></script>
    </th:block>
</body>
</html>