@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.navbar-brand {
	font-family: 'Gowun Dodum', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-left: 0!important;
}

.link a {
	color: #6c757d;
}

h1 {
	font-family: 'Gowun Dodum', sans-serif;
    font-weight: 700;
	margin-top: 1.5rem !important;
	text-align: center;
}

.nav-tabs .nav-link {
	border: 0;
	color: #495057;
	background-color: #f9f9f9;
}

.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #212529;
}

.dataTable-table > :not(:first-child) {
	border-top: 1px solid #6c757d;
}

thead {
	border-top: 2px solid;
}

thead tr {
	background-color: #fff;
}

thead tr > th {
	text-align: center!important;
	vertical-align: middle!important;
}

tbody tr > td {
	text-align: center!important;
	vertical-align: middle!important;
}

tbody tr > td > a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

tbody tr > td > a:hover {
	color: #00008b;
}

.btn-light:hover {
	background-color: #00008b !important;
	color: #fff;
}

input[type="checkbox"] {
    transform : scale(1.2);
    cursor: pointer;
}

input[type="checkbox"]:checked {
	accent-color: black;
}

.table-hover > tbody > tr:hover > *, .dataTable-table > tbody > tr:hover > * {
	--bs-table-accent-bg: #fffbe3;
	border-bottom: 2px solid #6c757d;
	cursor: default;
}

/* 옵션/재고 출력 글자수 제한 */
tbody > tr > .optionAndStock > div {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 검색바 */
.search-form {
    position: relative;
    display: inline-flex;
    border-bottom: 2px solid #000;
}

.search-bar {
    display: inline-block;
    width: calc(100% - 25px);
    font-size: 14px;
    color: #000;
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.search-form button {
    display:inline-block;
    width: 18px;
    border: 0;
    background: transparent;
    padding: 0;
}

.fa-solid fa-magnifying-glass {
    position: absolute;
}

input[type="search"]:focus, .search-form select:focus {
    box-shadow: none;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    filter: invert(47%) sepia(13%) saturate(314%) hue-rotate(167deg) brightness(93%) contrast(89%);
}

.search-container {
	text-align: center;
}

#condition {
	border: 0;
}

/* 디테일 */
.content-wrapper {
    width: 700px !important;
}

.content-wrapper ul {
    display: flex;
    position: relative;
    width: 100%;
    height: 44px;
    align-items: center;
    margin: 14px auto;
    padding-inline-start: 0;
    margin-block-end: 0;
}

.content-wrapper ul > li {
	list-style: none;
}

.infoBox, .addBox, .contentBox, .thumbnailBox {
	width: 100%;
    border-top: 3px solid #000;
    margin-top: 30px;
}

.th {
    width: 30%;
}

.th p {
    width: 100%;
    text-align: start;
    font-weight: 700;
    vertical-align: middle;
    margin-bottom: 0 !important;
}

.td {
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
}

.td input[type="text"], input[type="number"], input[type="email"], select {
    display: block;
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 6px 0;
}

.td select {
	width: 40%;
	height: 100%;
	border: 1px solid #E5E5E5;
	border-radius: 0;
    box-shadow: none !important;
}

.td select:focus {
	border-color: #E5E5E5 !important;
}

#addNewCategory, #addNewBrand, #prodPrice, #today {
	width: 58%;
	margin-left: 2%;
}

#tag, #bodyColor, #inkColor, #pointSize, #prodInfo {
	width: 100%;
	margin-right: 0;
}

input:read-only {
	background: #E5E5E5;
	cursor: default;
}

/* 버튼 */
.card-body > button {
	vertical-align: inherit;
}

.buttonBox {
    margin-block-start: 10%;
    margin-block-end: 20%;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

.buttonBox button[type="button"] {
    width: 100%;
    height: 44px;
    align-items: center;
    box-shadow: none !important;
    cursor: pointer;
}

.btn {
	box-shadow: none !important;
}

/* 슬라이더, 배너 */
.designImage-wrapper {
	width: 700px;
}

#designImageTab {
	border-bottom: 0;
	width: 100%;
	height: 44px;
	margin-top: 40px;
}

#designImageTab > li {
	width: 50%;
	height: 100%;
}

#designImageTab > .nav-item > .nav-link {
	border-bottom: 2px solid #000;
	color: #E5E5E5;
}

#designImageTab > .nav-item > .nav-link.active {
	border: 0;
	border-radius: 0;
	border-bottom: 2px solid #000;
	background-color: #000;
	color: #fff;
}

#designImageTab > li > button {
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
	border: 0;
	background-color: transparent;
	vertical-align: middle;
}

.designImage-wrapper > .tab-content {
	margin-top: 18px;
}

.designImage-wrapper > .tab-content > div > .card > .card-body {
	padding-top: 30px;
	padding-bottom: 30px;
}

.designImage-wrapper > .tab-content > div > .card > .card-body > ul:first-child {
	margin-top: 0;
}

.designImage-wrapper > .tab-content > div > .card > .card-body > ul:last-child {
	margin-bottom: 14px;
}

.designImage-wrapper > .tab-content > div > .image-note {
	display: block;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 16px;
}

.designImage-wrapper > .tab-content > div > .image-note > li {
	position: relative;
    padding-left: 10px;
    font-size: 14px;
    list-style: none;
}

.designImage-wrapper > .tab-content > div > .image-note > li:before {
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 2px;
    bottom: 9px;
    left: 0;
	content: "";
    background-color: #000;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > table {
	width: 100%;
    border-top: 1px solid #E5E5E5;
    margin-top: 5px;
    margin-bottom: 40px;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > table > tbody > tr {
	width: 100%;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > table > tbody > tr:last-child {
	padding-bottom: 20px;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > table > tbody > tr >th {
	text-align: inherit;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > table > tbody > tr > td:first-child {
	padding-top: 20px;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form {
	text-align: center;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > div > label {
	width: 90px;
	font-weight: bold;
	text-align: left;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > div > label:last-child {
	display: block;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > div > input[type="text"],
.designImage-wrapper > .tab-content > .tab-pane > .image-form > div > input[type="email"],
.designImage-wrapper > .tab-content > .tab-pane > .image-form > div > input[type="password"] {
    border: 1px solid #E5E5E5;
    width: 300px;
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > .buttonBox {
	margin-block-start: 10%;
    margin-block-end: 20%;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
}

.designImage-wrapper > .tab-content > .tab-pane > .image-form > div > button[type="submit"] {
	width: 100%;
    height: 44px;
    border-radius: 0;
    box-shadow: none !important;
    cursor: pointer;
}

.swal2-select {
	width: auto !important;
}

.review-content > p {
	margin-bottom: 0;
	margin: 0 auto;
	max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review-detail {
	margin-bottom: 0;
}

.review-detail > a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review-detail > a:hover {
	color: #00008b;
}

/* dashboard chart */
.chart-wrapper {
	width: 100%;
	height: 100%;
	padding: 40px;
}

.chart-wrapper > fieldset > legend > #today {
	color: #b7b7b7;
}

.chart-wrapper > .statistics-notice {
	padding-left: 0;
}

.chart-wrapper > .statistics-notice > li {
	position: relative;
    padding-left: 10px;
    font-size: 14px;
    list-style: none;
}

.chart-wrapper > .statistics-notice > li:before {
	position: absolute;
    display: inline-block;
    width: 2px;
    height: 2px;
    bottom: 10px;
    left: 0;
    content: "";
    background-color: #000;
}

.chart-wrapper > .chartBox {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 40px;
	margin-top: 40px;
	border: 1px solid #E5E5E5;
}

.chart-wrapper > .statisticsSearch > select {
	right: 0;
	display: inline-block;
    width: 350px;
    height: 46px !important;
    margin-inline-end: 10px;
    padding: 0.375rem 2.25rem 0.375rem 1.25rem;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #E5E5E5;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.chart-wrapper > .statisticsSearch > .dateRangePicker {
	display: inline-block;
}

.chart-wrapper > .statisticsSearch > .dateRangePicker > input[type=text] {
	height: 46px !important;
	border: 1px solid #E5E5E5;
	padding: 0.375rem 0.25rem 0.375rem 1.25rem;
}

.chart-wrapper > .statisticsSearch > .downloadExcel {
	display: contents;
}

.chart-wrapper > .statisticsSearch > .downloadExcel > button:hover {
	color: #209e63;
}

#memberChart {
	width: 1000px !important;
}

#top8Product {
	width: 500px !important;
}

#salesChart {
	height: 360px !important;
	width: auto !important;
}