@charset "UTF-8";
/* 전체 폰트 적용 */
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 캐러셀 */
.carousel-inner {
    width: auto;
    max-height: 50%;
}

.carousel-item {
    height: 32rem;
    object-fit:cover;
}

/* 카드 */
.card {
    border: 0;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.card-img-wrapper {
    overflow: hidden;
}

.badge {
    font-size: 1.2em;
    border-radius: 0;
    z-index: 1;
}

.card a {
    color: #000;
    text-decoration: none;
}

/* 스토리 */
.bar {
    height: 2px;
    background: #fff;
}

.story-scroll {
    position: relative;
    height: 300px;
    text-align: center;
}

.media-wrapper {
    width: 100vw;
}

.media-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -999;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/* 전체 폰트 적용 */
h2 {
    margin-bottom: 30px;
}

h6 {
    margin-top: 3px;
    margin-bottom: 6px;
}

small {
    color: #6c757d;
}