@charset "UTF-8";
/* 전체 폰트 적용 */
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 배너 */
.mainBanner {
    position: relative;
    width: 1248px;
    height: 120px;
    margin: 0 auto;
}

/* 카드 */
.card {
    border: 0;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.card-img-wrapper {
    overflow: hidden;
}

.badge {
    font-size: 1.2em;
    border-radius: 0;
    z-index: 1;
}

.card a {
    color: #000;
    text-decoration: none;
}

.card > a > .card-body {
	display: inline-flex;
}

.card > a > .card-body > .text-left > b,
.card > a > .card-body > .text-left > span > b {
	color: #00008b;
}

.card > a > .card-body > .text-left > .price {
	color: #000;
}

.card > a > .card-body > .text-left > del {
	font-size: 14px;
}

.card > a > .card-body > .text-left > h6 {
	display: inline-block;
	width: 180px;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    margin-top: 3px;
    margin-bottom: 6px;
    vertical-align: middle;
}

.card > a > .card-body > .text-left > span {
	display: block;
	color: #000;
	font-size: 0.85rem;
	margin-top: 10px;
}

.card > a > .card-body > .text-right > i {
	font-size: 20px;
}

.row > * {
	max-width: 330px !important;
}

.fa-heart:hover {
	color: #ff0000;
}

/* 전체 폰트 적용 */
h2 {
    margin-bottom: 30px;
}

h6 {
    margin-top: 3px;
    margin-bottom: 6px;
}

small {
    color: #6c757d;
}