@charset "UTF-8";

.content-wrapper {
	position: relative;
	margin-top: 20px;
}

.product-wrapper {
	margin-bottom: 150px;
}

.shareBox {
	position: absolute;
	right: 2%;
}

.shareBox li {
	display: inline-block;
	text-align: center;
    font-size: 14px;
    font-weight: bolder;
    background-color: transparent;
    box-sizing: border-box;
}

.shareBox a {
    color: #6c757d;
}

.infoBox {
	float: right;
	width: 50%;
	font-size: 14px;
}

.title-wrapper {
	display: flexbox;
    width: 100%;
    border-bottom: 2px solid #000;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.title-wrapper h2 {
	font-size: 2.2rem !important;
    font-weight: 900 !important;
}

.content-wrapper ul {
    display: flex;
    position: relative;
    width: 100%;
    height: 44px;
    align-items: center;
    margin: 14px auto;
    padding-inline-start: 0;
    margin-block-end: 0;
}

.content-wrapper ul > li {
	list-style: none;
}

#infoTab {
	border-bottom: 0;
	width: 100%;
	height: 44px;
}

#infoTab > li {
	width: 50%;
	height: 100%;
}

#infoTab > .nav-item > .nav-link {
	border-bottom: 2px solid #E5E5E5;
	color: #E5E5E5;
}

#infoTab > .nav-item > .nav-link.active {
	border: 0;
	border-bottom: 2px solid #000;
	color: #000;
}

#infoTab > li > button {
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	margin: 0 auto;
	border: 0;
	background-color: transparent;
	vertical-align: middle;
}

.th {
    width: 30%;
}

.th p {
    width: 100%;
    text-align: start;
    font-weight: 700;
    vertical-align: middle;
    margin-bottom: 0 !important;
}

.td {
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
}

.td i {
	transform : scale(1.6);
}

select {
    display: block;
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 6px 0;
}

.td select {
	width: 100%;
	height: 100%;
	border: 1px solid #E5E5E5;
	border-radius: 0;
}

.color-wrapper ul {
	height: auto;
}

.color-th {
	align-items: center;
}

.color-td {
	display: list-item;
	height: 100%;
}

.color-span {
	float: left;
	width: 25%;
	height: 44px;
	line-height: 44px;
	word-break: normal;
}

.color-more {
	line-height: 44px;
}

.point {
	width: 40px;
	background-color: #000;
	opacity: 100;
}

.tag-span {
	display: inline-block;
	line-height: 36px;
	padding: 0 15px;
	margin-inline-end: 4px;
	background-color: #f9f9f9;
	width: -moz-fit-content;
	width: fit-content;
}

.price-wrapper span {
	font-size: 18px;
	font-weight: bold;
	color: #ff0000;
}

.price-wrapper del span {
	font-weight: normal;
	color: #000;
}

.dropdown {
	display: block;
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 6px 0;
}

.dropdown.open:after {
	transform: rotate(-180deg);
}

.dropdown .list {
	position: absolute; /* 상단의 div와 크기 맞춤 */
	left: -1px;
	right: -1px;
	top: 100%; /* 상단의 div 높이에서 이어짐 */
	margin-top: 0;
	padding: 0;
	max-height: 200px;
	overflow: auto;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #E5E5E5;
	transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
	transform: scale(1);
	transform-origin: 50% 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: 999;
}
.dropdown .list:hover .option:not(:hover) {
	background-color: transparent!important;
}

.dropdown.open .list {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
	overflow: auto;
}
.dropdown.open .list ul {
	display: contents;
}

.dropdown i {
	position: absolute;
	transform : scale(0.7);
	right: 0;
	margin-inline-end: 20px !important;
	line-height: 40px;
}

.dropdown span {
	cursor: default;
}

.dropdown.open .option {
	cursor: pointer;
}

.dropdown .option {
	padding: 10px 20px 10px 20px;
	line-height: 20px;
	font-size:14px;
	font-weight:400;
	text-align:left;
	white-space:normal;
	cursor:default;
	outline:none;
	transition:all 0.2s;
}

.dropdown .option img {display:inline-block;margin:0 5px 2px 0;width:16px;height:16px;vertical-align:middle;}
.dropdown .option:hover, .dropdown .option:focus {
	background-color: #f9f9f9 !important;
	border-bottom: 2px solid #6c757d;
}
.dropdown .option.selected:focus {
	background: #f9f9f9;
	border-bottom: 2px solid #6c757d;
}

#selectedOption {
	margin-top: 30px;
}

.selectedInfo {
	display: -webkit-box;
	width: 100%;
	padding: 18px 20px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #E5E5E5;
}

.selectedAmount {
	width: 50px;
	height: 32px;
	text-align: center;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	border-left: 0;
	border-right: 0;
}

#selectedName {
	width: 50%;
	line-height: 30px;
}

/* input[type=number] spinner 숨기기 */
.selectedAmount::-webkit-inner-spin-button,
.selectedAmount::-webkit-outer-spin-button {
	-webkit-appearance: none; 
	margin: 0;
}

.selectedPrice {
	width: 30%;
	right: 0;
	text-align: center;
	line-height: 30px;
}

.countBox {
	display: inline-flex;
	width: 40%;
	margin: 0 auto;
}

.countBox button {
	background-color: #fff;
	border: 1px solid #E5E5E5;
}

.button-delete {
	width: 20%;
	border: 1px solid #E5E5E5;
	line-height: 30px;
}
	
.button-delete i {
	padding: 0 4px;
	background-color: #fff;
}

/* zoom */
.thumbnailBox {
	position: fixed;
}

.zoom-wrapper {
	width: 540px;
	height: 540px;
}

.zoom-wrapper img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.thumbs-wrapper {
	display: block;
	position: absolute;
	width: 100%;
	padding-top: 10px;
	text-align: center;
}

.thumbs-wrapper > a:first-child {
	margin-inline-end: 4px;
}

.thumbs-wrapper > .elevatezoom-gallery > img {
	opacity: 70%;
}

.thumbs-wrapper > .elevatezoom-gallery.active > img {
	border: 2px solid #000;
	opacity: 100%;
}

.zoomContainer {
	position: absolute;
	z-index: 20 !important;
}
.zoomLens {
	position: absolute;
	width: 540px;
	height: 540px;
	border: 0 !important;
	cursor: default !important;
	opacity: 10% !important;
	background-color: #000 !important;
	border: 1px solid #fff !important;
}

.zoomWindowContainer {
	width: 540px !important;
}

.zoomWindow {
	z-index: 100;
	position: absolute;
	width: 540px !important;
	height: 540px !important;
	border: 0 !important;
	left: 570px !important;
}

#sumTotal {
	font-size: 1.2rem;
	text-align: right;
	margin-block-start: 3%;
}

#totalPrice {
	display: inline-block;
	width: 26%;
	font-size: 1.9rem;
	font-weight: 700;
	text-align: right;
}

/* 버튼 */
.buttonBox {
    display: flex;
    margin-block-start: 10%;
    margin-block-end: 10%;
}

.buttonBox button {
    width: 50%;
    height: 44px;
    box-shadow: none !important;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 0;
}

.buttonBox .btn:hover {
	opacity: 93%;
}

#cartBtn {
	background-color: #6c757d;
	color: #fff;
}

#orderBtn {
	margin-inline-start: 3%;
}

#wishBtn {
	width: 15%;
	margin-inline-start: 3%;
	border: 1px solid #E5E5E5;
}

#wishBtn:hover {
	border-color: #000;
}

.fa-heart:hover {
	color: #ff0000;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #00008b;
}

/* 상품리뷰 */
.notice-area {
	margin-top: 40px;
}

.review-notice {
	display: block !important;
}

.review-notice > li {
	position: relative;
    padding-left: 10px;
    font-size: 14px;
    list-style: none;
}

.review-notice > li:before {
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 2px;
    bottom: 10px;
    left: 0;
    content: "";
    background-color: #000;
}

.rating-area ul {
    display: flex;
    position: relative;
    width: 100%;
	height: 100%;
    align-items: center;
    margin: 14px auto;
    padding-inline-start: 0;
    margin-block-end: 0;
}

.rating-area ul > li {
	list-style: none;
}

.rating-area {
	display: table;
	width: 100%;
	height: 110px;
	table-layout: fixed;
	border-top: 1px solid #6c757d;
    border-bottom: 1px solid #E5E5E5;
    background-color: #f9f9f9;
	margin-top: 16px;
	margin-bottom: 40px;
	cursor: default;
}

.info-title {
	display: table-cell;
	width: 320px;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
}
.info-list {
	display: table-cell;
	width: 70%;
	padding: 24px 0;
	text-align: center;
}

.info-list > ul {
	display: flex !important;
	margin: auto;
}

.info-list > ul > li {
	position: relative;
	float: left;
	width: 33%;
}

.info-list > ul > li > a {
	font-size: 14px;
	cursor: pointer;
}

.info-list > ul > li > a > b {
	font-size: 32px;
}

.info-list > ul > li:after {
	position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    min-height: 20px;
    background-color: #E5E5E5;
    content: '';
}

.info-list > ul > li:nth-child(3):after {
	display: none;
}

.progress-area {
	display: inline-flex;
	width: 400px;
	font-size: 12px;
	text-align: left !important;
}

.progress-area > .stars {
	width: 28%;
	text-align: right;
}

.progress-area > .progress {
	width: 220px;
	margin-inline-start: 8px;
}

.post-area {
	position: relative;
	display: inline-block;
	width: 30%;
	margin: 20px auto;
	border-bottom: 1px solid #E5E5E5;
	margin-inline-start: 20px;
	margin-inline-end: 20px;
}

.post-area:hover {
	border-bottom: 2px solid #000;
	cursor: pointer;
}

.post-area > .profile {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #f9f9f9;
	border-radius: 50%;
	border: 1px solid #E5E5E5;
	font-size: 36px;
	color: #6c757d;
	vertical-align: bottom;
	margin-inline-end: 8px;
	cursor: pointer;
}

.post-area > .profile > a {
	position: absolute;
	font-size: 20px;
	vertical-align: middle;
	margin-inline-start: 10px;
	margin-block-start: 2px;
}

.post-area > .info > .star {
	font-size: 16px;
	color: #E5E5E5;
}

.post-area > .info > .date, .store {
	font-size: 12px;
	color: #6c757d;
}

.post-area > .info {
	display: inline-block;
	font-size: 14px;
}

.post-area > .image {
	position: absolute;
	display: inherit;
	width: 200px;
}

.post-area > .image > img {
	width: 100px;
	height: 100px;
	float: right;
	margin-right: 52px;
}

.post-area > .option {
	position: relative;
    margin-block-start: 18px;
}

.post-area > .option:before {
	position: absolute;
    left: 0;
    content: "";
    width: 3px;
    height: 100%;
    background-color: #E5E5E5;
    border-radius: 2px;
}

.post-area > .option > p {
	font-size: 12px;
	color: #6c757d;
	margin-inline-start: 10px;
}

.post-area > .content {
	margin-top: 30px;
}

/* 출력 글자수 제한 */
.post-area > div > h4 {
	display: inline-block;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-area > .content > span > p {
	display: inline-block;
	max-width: 382px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nopost {
	color: #E5E5E5;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 300px !important;
}

.nopost > div:last-child {
	margin-top: 20px;
}

/* ====================================== */

.product-breadcrumb {
	font-size: 12px;
	float: right;	 
	cursor: default;
}

.classification {
	display: table;
	width: 100%;
	height: 110px;
	table-layout: fixed;
	border: 1px solid #dee2e6;
	border-top: 2px solid #000;
	margin-bottom: 40px;
	cursor: default;
}

.classify-title {
	display: table-cell;
	width: 15%;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
}

.classify-num {
	position: absolute;
    padding: 0 7px;
    background-color: #e5e5e5a8;
    border-radius: 100px;
    font-size: 11px;
    color: #b5b5b5;
    margin-top: 4px;
}

.classify-list {
	display: table-cell;
	width: 85%;
	padding: 24px 0;
	border-left: 1px solid #E5E5E5;
}

.classify-list > ul {
	display: contents !important;
}

.classify-list > ul > li {
	position: relative;
	float: left;
	width: 20%;
}

.classify-list > ul > li > a {
	padding: 0 8px 0 20px;
	min-height: 40px;
	cursor: pointer;
}

.classify-list > ul > li:after {
	position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    min-height: 20px;
    background-color: #E5E5E5;
    content: '';
}

.classify-list > ul > li:nth-child(5):after {
	display: none;
}

.classify-list > ul > li:nth-child(10):after {
	display: none;
}

.classify-list > ul > li:nth-child(n+6) {
	padding-top: 14px;
}

.product-section {
	width: 100%;
	border-top: 2px solid #000;
}

.product-desc {
	display: inline-flex;
}

.product-desc > p {
	margin-bottom: 0;
	line-height: 2.75;
}

.product-list {
	padding-top: 40px;
}

.filter {
	border-bottom: 1px solid #E5E5E5;
}

.filter > ul {
	margin: 0 !important;
}

.filter > ul > .th {
	width: 10%;
}

.filter > ul > .th > p {
	margin-inline-start: 28px;
	text-align: start;
}

.filter-brand > ul > .th > p {
	letter-spacing: 7px;
}

.filter-color > ul > .td {
	display: inline-block;
}

.filter-color > ul > .td > .color-span {
	width: auto !important;
	padding-right: 9px;
}

.filter-color > ul > .td > .color-span > a > i {
	transform: none !important;
}

.filter-brand > ul > .td > .brand-span,
.filter-price > ul > .td > .price-span {
	font-size: 14px;
	margin-inline-end: 20px;
}

.filter-price > ul > .td > .price-span:first-child {
	font-weight: bold;
}

.filter-brand > ul > .td > .brand-span > a:hover,
.filter-price > ul > .td > .price-span > a:hover {
	color: #000 !important;
	text-decoration: underline;
}

.filter-tag > ul > .td > .tag-span > a:hover {
	color: #000 !important;
}

/* 정렬 */
.sorting {
	height: 44px;
	margin-top: 90px;
}

.selection-wrapper {
	display: inline-flex;
	text-align: center;
	float: right;
}

.limit-wrapper {
	display: inline-flex;
	float: right;
}

.selection-wrapper > ul,
.limit-wrapper > ul {
	margin-top: 0;
}

.selection-wrapper > ul > li > label {
	position: relative;
	width: 96px;
	margin-inline-end: -4px;
}

.selection-wrapper > ul > li > label:after {
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    width: 1px;
    height: 12px;
    background-color: #E5E5E5;
    content: '';
}

.selection-wrapper > ul > li > label > input[type="radio"] {
	position: absolute;
	left: -9999px;
}

.selection-wrapper > ul > li > label > input[type="radio"] + span {
	position: relative;
	font-size: 14px;
	color: #6c757d;
	cursor: pointer;
}

.selection-wrapper > ul > li > label > input[type="radio"]:checked + span {
	color: #000;
	font-weight: bold;
}

.limit-wrapper > ul > li > .dropdown {
	display: block;
	border: 0;
    width: 100px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 6px 0;
}

.limit-wrapper > ul > li > .dropdown.open:after {
	transform: rotate(-180deg);
}

.limit-wrapper > ul > li > .dropdown .list {
	position: absolute;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: 0;
	padding: 0;
	max-height: 200px;
	overflow: auto;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #E5E5E5;
	transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
	transform: scale(1);
	transform-origin: 50% 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: 999;
}
.limit-wrapper > ul > li > .dropdown .list:hover .per:not(:hover) {
	background-color: transparent!important;
}

.limit-wrapper > ul > li > .dropdown.open .list {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
	overflow: auto;
}

.limit-wrapper > ul > li > .dropdown.open .list ul {
	display: contents;
}

.limit-wrapper > ul > li > .dropdown i {
	position: absolute;
	transform : scale(0.7);
	right: 0;
	margin-inline-end: 8px !important;
	line-height: 40px;
}

.limit-wrapper > ul > li > .dropdown span {
	font-size: 14px;
	cursor: default;
	margin-left: 3px;
}

.limit-wrapper > ul > li > .dropdown.open .per {
	cursor: pointer;
}

.limit-wrapper > ul > li > .dropdown .per {
	padding: 10px 20px 10px 24px;
	line-height: 20px;
	font-size:14px;
	font-weight:400;
	text-align:left;
	white-space:normal;
	cursor:default;
	outline:none;
	transition:all 0.2s;
}

.limit-wrapper > ul > li > .dropdown .per img {
	display: inline-block;
	margin: 0 5px 2px 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.limit-wrapper > ul > li > .dropdown .per:hover, .dropdown .per:focus {
	background-color: #f9f9f9 !important;
	border-bottom: 0;
}
.limit-wrapper > ul > li > .dropdown .per.selected:focus {
	color: #6c757d;
	background: #f9f9f9;
	border-bottom: 0;
}

/* 카드 */
.card {
    border: 0;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.card-img-wrapper {
    overflow: hidden;
}

.badge {
    font-size: 1.2em;
    border-radius: 0;
    z-index: 1;
}

.card a {
    color: #000;
    text-decoration: none;
}

.card > a > .card-body {
	display: inline-flex;
}

.card > a > .card-body > .text-left > b,
.card > a > .card-body > .text-left > span > b {
	color: #00008b;
}

.card > a > .card-body > .text-left > .price {
	color: #000;
}

.card > a > .card-body > .text-left > del {
	font-size: 14px;
}

.card > a > .card-body > .text-left > h6 {
	display: inline-block;
	width: 180px;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    margin-top: 3px;
    margin-bottom: 6px;
    vertical-align: middle;
}

.card > a > .card-body > .text-left > span {
	display: block;
	color: #000;
	font-size: 0.85rem;
	margin-top: 10px;
}

.card > a > .card-body > .text-right > i {
	font-size: 20px;
}

.row > * {
	max-width: 330px !important;
}

/* 상품 검색 */
.keyword-wrapper {
    display: flex;
    height: 190px;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.keyword-wrapper h2 {
    top: 50%;
    left: 50%;
	font-family: 'Gowun Dodum', sans-serif;
    font-size: 38px !important;
    font-weight: 400 !important;
}

.result-wrapper {
	margin-top: 40px;
}

/* 전체 폰트 적용 */
h2 {
    margin-bottom: 30px;
}

small {
    color: #6c757d;
}