@charset "UTF-8";

.content-wrapper {
	position: relative;
	margin-top: 20px;
}

.thumbnailBox {
	width: 50%;
}

.zoom-wrapper {
	position: fixed;
	width: 540px;
	height: 540px;
}

.zoom-wrapper img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.shareBox {
	position: absolute;
	right: 2%;
}

.shareBox li {
	display: inline-block;
	text-align: center;
    font-size: 14px;
    font-weight: bolder;
    background-color: transparent;
    box-sizing: border-box;
}

.shareBox a {
    color: #6c757d;
}

.infoBox {
	float: right;
	width: 50%;
}

.title-wrapper {
	display: flexbox;
    width: 100%;
    border-bottom: 2px solid #000;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.title-wrapper h2 {
	font-size: 2.2rem !important;
    font-weight: 900 !important;
}

.content-wrapper ul {
    display: flex;
    position: relative;
    width: 100%;
    height: 44px;
    align-items: center;
    margin: 14px auto;
    padding-inline-start: 0;
    margin-block-end: 0;
}

.content-wrapper ul > li {
	list-style: none;
}

.th {
    width: 30%;
}

.th p {
    width: 100%;
    text-align: start;
    font-weight: 700;
    vertical-align: middle;
    margin-bottom: 0 !important;
}

.td {
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
}

.td i {
	transform : scale(1.5);
}

.td span {
    margin-inline-end: 10%;
}

a {
	color: #000;
	text-decoration: none;
}