.swiper {
	position: relative;
	width: 100%;
	height: 38rem;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #f7f7f7;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* ------------------------------- */

.image-wrapper {
	display: flex;
	position: relative;
	flex-shrink: 0;
}

.background {
	display: inline-block;
	width: 450px;
	height: 450px;
	object-fit: cover;
}

.image {
	position: absolute;
	left: 0;
	transform: scale(1.4);
	height: 100%;
}

.swiper-slide {
	opacity: 0 !important;
	transition: 0.4s;
}

.swiper-slide-active {
	opacity: 1 !important;
}

.swiper-slide .background {
	transition-duration: 0.6s;
	opacity: 0;
	object-position: 60%;
}

.swiper-slide-active .background {
	opacity: 1;
	transform: none;
	object-position: 50%;
}

.swiper-slide .image {
	transition-duration: 0.8s;
	transform: scale(1.0);
	opacity: 0;
	height: 100%;
}

.swiper-slide-active .image {
	opacity: 1;
	transform: scale(1.4);
	height: 100%;
}

.viewBtn {
	position: absolute;
	z-index: 1;
    width: 250px;
    height: 44px;
    color: #000;
    border-radius: 0;
    border: 1px solid #6c757d;
    background-color: #fff;
    cursor: pointer;
    box-shadow: none !important;
}

:root {
	--swiper-theme-color: #E5E5E5;
}