@charset "UTF-8";

/* 썸네일 */
.thumbnailBox {
	display: flex;
	height: 100% !important;
}

.thumbnailBox ul {
	display: flex;
	height: 200px !important;
	padding-left: 0;
}

.reviewImageBox ul {
	height: 150px !important;
}

.designImageBox ul {
	display: inline-block;
    width: auto;
	height: auto;
	margin: 0;
}

.bannerImageBox > ul {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 0;
}

.bannerImageBox > ul > li > .imageBox {
    width: auto;
}

.bannerImageBox > ul > li > .imageBox > label {
    width: 100%;
}

.reviewImageBox ul:not(:first-child),
.designImageBox  ul:not(:first-child) {
	margin-inline-start: 18px;
}

.imageBox {
	width: 200px;
	height: 200px;
	padding: 16px;
	display: flex;
	cursor: pointer;
	border: 3px dashed #e5e5e5;
	border-radius: 10px;
}

.reviewImage, .inquiryImage {
	width: 150px;
	height: 150px;
}

.designImage {
	width: 210px;
	height: 210px;
}

.thumbLabel,
.imageLabel {
	display: flex;
	width: 200px;
	height: 100%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}