<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>마이페이지 | 글벗문구</title>
	<!-- CSS -->
   	<link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <th:block layout:fragment="css">
	    <link th:href="@{/css/customtable.css}" rel="stylesheet">
	    <style>
			.table-hover > tbody > tr:hover > *, .dataTable-table > tbody > tr:hover > * {
				--bs-table-accent-bg: none !important;
				border-bottom: 0 !important;
				cursor: default;
			}
			#imageNotFound {
				width: 80px;
			    height: 80px;
			    background-color: #f9f9f9;
			    border: 1px solid #E5E5E5;
			    font-size: 36px;
			    color: #6c757d;
			    text-align: center;
			    margin: 0 auto;
			    cursor: pointer;
			}
			#imageNotFound > i {
			    text-align: center;
			    vertical-align: sub;
			}
	    </style>
	</th:block>
	<!-- 리뷰 작성 결과 메시지 -->
	<script>
		const successMessage = '[[${successMessage}]]'
		const errorMessage = '[[${errorMessage}]]'
		if(successMessage) {
			alert(successMessage);
		} else if(errorMessage) {
			alert(errorMessage);
		}
	</script>
</head>
<body th:replace="/fragments/mypage.html :: mypage">
	<div layout:fragment="mypageContent">
		<nav class="mypage-breadcrumb" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">HOME</a></li>
				<li class="breadcrumb-item"><a th:href="@{/mypage/main}">마이페이지</a></li>
			    <li class="breadcrumb-item active" aria-current="page">상품리뷰</li>
			</ol>
		</nav>
		<div class="mypage-area">
			<fieldset>
				<legend>상품리뷰</legend>
			</fieldset>
			<ul class="review-notice">
				<li>글벗문구는 텍스트리뷰 <b>100원</b> / 포토리뷰 <b>300원</b>을 적립해 드리고 있습니다.</li>
				<li>상품 문의, 확인되지 않은 사항, 미풍양속을 해치는 글은 관리자가 임의로 삭제할 수 있으니 양해 바랍니다.</li>
			</ul>
			<!-- 작성 가능한 리뷰 | 나의 상품리뷰 -->
			<ul class="nav nav-tabs" id="reviewTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="write-tab" data-bs-toggle="tab" data-bs-target="#write" type="button" role="tab" aria-controls="write" aria-selected="true">작성 가능한 리뷰</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">나의 상품리뷰</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="write" role="tabpanel" aria-labelledby="write-tab">
					<div class="dataTable-container">
						<table class="reviewlist-table dataTable-table">
					    	<tbody>
					    		<tr th:each="itemList : ${ itemList }" th:if="${not #lists.isEmpty(itemList)}">
					    			<td th:value="${ itemList.orderNo }"><img th:src="${ itemList.product.attachmentList[0].thumbnailPath }" style="width: 80px; height: 80px;"></td>
					    			<td class="option-area" th:value="${ itemList.optionNo }">
						    			<a th:href="@{/product/details(no=${itemList.product.prodNo})}">[[${ itemList.product.prodName }]]</a>
						    			<p>
					    					<span>[[${ itemList.option.pointSize }]]mm</span>
						    				<th:block th:if="${ itemList.option.bodyColor != '(해당없음)' }">
						    					<span th:text="|/ ${#strings.replace(itemList.option.bodyColor, '$', ',')}|"></span>
						    				</th:block>
						    				<th:block th:if="${ itemList.option.inkColor != '(해당없음)' }">
						    					<span th:text="|/ ${#strings.replace(itemList.option.inkColor, '$', ',')}|"></span>
						    				</th:block>
						    			</p>
					    			</td>
					    			<td>
						    			<div class="buttonBox">
						    				<button type="button" class="reviewBtn btn btn-sm btn-dark" th:onclick="|location.href='@{/review/write(order=${itemList.orderNo}, option=${itemList.optionNo})}'|">리뷰쓰기</button>
						    			</div>
					    			</td>
					    		</tr>
					    		<tr class="noitem" th:unless="${#lists.size(itemList)} > 0">
			                		<td colspan="9">
				                		<div><i class="fa-solid fa-circle-exclamation" style="font-size: 300%;"></i></div>
				                		<div>작성 가능한 리뷰가 없습니다.</div>
			                		</td>
			                	</tr>
					    	</tbody>
					    </table>
					</div>
				</div>
				<div class="tab-pane fade show" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="dataTable-container">
						<table class="postlist-table dataTable-table">
							<thead style="border-top: 0 !important;">
					    		<tr>
					    			<th><span>#</span></th>
					    			<th colspan="2"><span>제목</span></th>
					    			<th><span>작성일</span></th>
					    			<th><span>조회수</span></th>
					    		</tr>
					    	</thead>
					    	<tbody>
					    		<tr th:each="postList : ${ postList }" th:if="${not #lists.isEmpty(postList)}">
					    			<td th:text="${ postListStat.count }"></td>
					    			<th:block th:if="${ postList.attachmentList[0].thumbnailPath != null }">
						    			<td th:value="${ postList.orderNo }"><img th:src="${ postList.attachmentList[0].thumbnailPath }" style="width: 80px; height: 80px;"></td>
					    			</th:block>
					    			<th:block th:if="${ postList.attachmentList[0].thumbnailPath == null }">
					    				<td th:value="${ postList.orderNo }" style="text-align: center;"><div id="imageNotFound"><i class="fa-solid fa-slash"></i></div></td>
					    			</th:block>
					    			<td><p><a>[[${ postList.revwTitle }]]</a></p></td>
					    			<td th:text="${#dates.format(postList.revwRegDate, 'yy.MM.dd')}"></td>
					    			<td th:text="${ postList.revwHits }"></td>
					    		</tr>
					    		<tr class="noitem" th:unless="${#lists.size(postList)} > 0">
			                		<td colspan="9">
				                		<div><i class="fa-solid fa-circle-exclamation" style="font-size: 300%;"></i></div>
				                		<div>작성한 리뷰가 없습니다.</div>
			                		</td>
			                	</tr>
					    	</tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>