<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>마이페이지 | 글벗문구</title>
	<!-- CSS -->
   	<link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <th:block layout:fragment="css">
	    <link th:href="@{/css/customtable.css}" rel="stylesheet">
	    <link th:href="@{/css/post.css}" rel="stylesheet">
	</th:block>
	<!-- 리뷰 작성 결과 메시지 -->
	<script>
		const successMessage = '[[${successMessage}]]'
		const errorMessage = '[[${errorMessage}]]'
		if(successMessage) {
			alert(successMessage);
		} else if(errorMessage) {
			alert(errorMessage);
		}
	</script>
</head>
<body th:replace="/fragments/mypage.html :: mypage">
	<div layout:fragment="mypageContent">
		<nav class="mypage-breadcrumb" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">HOME</a></li>
				<li class="breadcrumb-item"><a th:href="@{/mypage/main}">마이페이지</a></li>
			    <li class="breadcrumb-item active" aria-current="page">상품리뷰</li>
			</ol>
		</nav>
		<div class="mypage-area">
			<fieldset>
				<legend>상품리뷰</legend>
			</fieldset>
			<ul class="review-notice">
				<li>글벗문구는 텍스트리뷰 <b>100원</b> / 포토리뷰 <b>300원</b>을 적립해 드리고 있습니다.</li>
				<li>상품 문의, 확인되지 않은 사항, 미풍양속을 해치는 글은 관리자가 임의로 삭제할 수 있으니 양해 바랍니다.</li>
			</ul>
			<!-- 작성 가능한 리뷰 | 나의 상품리뷰 -->
			<ul class="nav nav-tabs" id="reviewTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="write-tab" data-bs-toggle="tab" data-bs-target="#write" type="button" role="tab" aria-controls="write" aria-selected="true">작성 가능한 리뷰</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">나의 상품리뷰</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="write" role="tabpanel" aria-labelledby="write-tab">
					<div class="dataTable-container">
						<table class="reviewlist-table dataTable-table">
					    	<tbody>
					    		<tr th:each="itemList : ${ itemList }" th:if="${not #lists.isEmpty(itemList)}">
					    			<td th:value="${ itemList.orderNo }"><img th:src="${ itemList.product.attachmentList[0].thumbnailPath }" style="width: 80px; height: 80px;"></td>
					    			<td class="option-area" th:value="${ itemList.optionNo }">
						    			<a th:href="@{/product/details(no=${itemList.product.prodNo})}">[[${ itemList.product.prodName }]]</a>
						    			<p>
					    					<span>[[${ itemList.option.pointSize }]]mm</span>
						    				<th:block th:if="${ itemList.option.bodyColor != '(해당없음)' }">
						    					<span th:text="|/ ${#strings.replace(itemList.option.bodyColor, '$', ',')}|"></span>
						    				</th:block>
						    				<th:block th:if="${ itemList.option.inkColor != '(해당없음)' }">
						    					<span th:text="|/ ${#strings.replace(itemList.option.inkColor, '$', ',')}|"></span>
						    				</th:block>
						    			</p>
					    			</td>
					    			<td>
						    			<div class="buttonBox">
						    				<button type="button" class="reviewBtn btn btn-sm btn-dark" th:onclick="|location.href='@{/review/write(order=${itemList.orderNo}, option=${itemList.optionNo})}'|">리뷰쓰기</button>
						    			</div>
					    			</td>
					    		</tr>
					    		<tr class="noitem" th:unless="${#lists.size(itemList)} > 0">
			                		<td colspan="9">
				                		<div><i class="fa-solid fa-circle-exclamation" style="font-size: 300%;"></i></div>
				                		<div>작성 가능한 리뷰가 없습니다.</div>
			                		</td>
			                	</tr>
					    	</tbody>
					    </table>
					</div>
				</div>
				<div class="tab-pane fade show" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="dataTable-container">
						<table class="postlist-table dataTable-table">
							<thead style="border-top: 0 !important;">
					    		<tr>
					    			<th><span>#</span></th>
					    			<th colspan="2"><span>제목</span></th>
					    			<th><span>작성일</span></th>
					    			<th><span>조회수</span></th>
					    		</tr>
					    	</thead>
					    	<tbody>
					    		<tr th:each="postList : ${ postList }" th:if="${not #lists.isEmpty(postList)}">
					    			<td th:text="${ postListStat.count }"></td>
					    			<th:block th:if="${ postList.attachmentList[0].thumbnailPath != null }">
						    			<td th:value="${ postList.orderNo }"><img th:src="${ postList.attachmentList[0].thumbnailPath }" style="width: 80px; height: 80px;"></td>
					    			</th:block>
					    			<th:block th:if="${ postList.attachmentList[0].thumbnailPath == null }">
					    				<td th:value="${ postList.orderNo }" style="text-align: center;"><div id="imageNotFound"><span class="fs-4">글벗문구</span></div></td>
					    			</th:block>
					    			<td>
					    				<p class="review-detail" th:value="${ postList.reviewNo }">
					    					<a data-toggle="modal" th:href="'#review-content' + ${ postList.reviewNo }">[[${ postList.revwTitle }]]</a>
					    				</p>
										<div th:id="'review-content' + ${ postList.reviewNo }" class="modal fade" tabindex="-1" role="dialog">
											<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
												<div class="modal-content">
									      			<div class="modal-header">
									      				<div class="product">
									      					<a th:href="@{/product/details(no=*{ postList.option.refProdNo })}" th:text="|[${ postList.product.prodName }]|"></a>
									      				</div>
														<h5>[[${ postList.revwTitle }]]</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
													</div>
													<div class="modal-body">
														<th:block th:if="${ postList.attachmentList[0].thumbnailPath != null }">
														<div class="body">
															<div id="carouselIndicators" class="carousel slide" data-bs-ride="true">
																<div class="carousel-indicators">
																	<th:block th:if="${#lists.size(postList.attachmentList) >= 1}">
																		<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
																	</th:block>
																	<th:block th:if="${#lists.size(postList.attachmentList) >= 2}">
																		<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
																	</th:block>
																	<th:block th:if="${#lists.size(postList.attachmentList) >= 3}">
																		<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
																	</th:block>
																</div>
																<div class="carousel-inner">
																	<th:block th:if="${#lists.size(postList.attachmentList) >= 1}">
																		<div class="carousel-item active">
																			<img th:src="${ postList.attachmentList[0].thumbnailPath }" class="d-block w-100" alt="attachment 1">
																		</div>
																	</th:block>
																	<th:block th:if="${#lists.size(postList.attachmentList) >= 2}">
																		<div class="carousel-item">
																			<img th:src="${ postList.attachmentList[1].thumbnailPath }" class="d-block w-100" alt="attachment 2">
																		</div>
																	</th:block>
																	<th:block th:if="${#lists.size(postList.attachmentList) >= 3}">
																		<div class="carousel-item">
																			<img th:src="${ postList.attachmentList[2].thumbnailPath }" class="d-block w-100" alt="attachment 3">
																		</div>
																	</th:block>
																</div>
																<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
																	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
																	<span class="visually-hidden">Previous</span>
																</button>
																<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
																	<span class="carousel-control-next-icon" aria-hidden="true"></span>
																	<span class="visually-hidden">Next</span>
																</button>
															</div>
														</div>
														</th:block>
														<th:block th:if="${ postList.attachmentList[0].thumbnailPath == null }">
														<div class="body">
															<div id="imageNotFound"><span class="fs-4">글벗문구</span></div>
														</div>
														</th:block>
														<div class="body">
															<div class="menu">
																<ul>
																	<li>
																		<span>신고</span>
																	</li>
																	<li>
																		<span>삭제</span>
																	</li>
																</ul>
															</div>
															<div class="profile"><a><i class="fa-solid fa-user"></i></a></div>
															<div class="info">
																<span class="writer">[[${ postList.memberId }]]</span><br>
																<span class="star" th:value="${ postList.revwRatings }"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
																<span class="date">[[${#dates.format(postList.revwRegDate, 'yyyy.MM.dd')}]]</span>
																<span class="store">&#8729;&nbsp;글벗문구 구매</span>
															</div>
															<div class="option">
											    				<p>
											    					<span th:text="|&nbsp;${ postList.option.pointSize }mm|"></span>
												    				<th:block th:if="${ postList.option.bodyColor != '(해당없음)' }">
												    					<span th:text="|/ ${#strings.replace(postList.option.bodyColor, '$', ',')}|"></span>
												    				</th:block>
												    				<th:block th:if="${ postList.option.inkColor != '(해당없음)' }">
												    					<span th:text="|/ ${#strings.replace(postList.option.inkColor, '$', ',')}|"></span>
												    				</th:block>
												    			</p>
															</div>
															<div class="content">
																<span>[(${ postList.revwContent })]</span>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-dark" data-bs-dismiss="modal">닫기</button>
													</div> 
												</div>
											</div>
										</div>
					    			</td>
					    			<td th:text="${#dates.format(postList.revwRegDate, 'yy.MM.dd')}"></td>
					    			<td th:text="${ postList.revwHits }"></td>
					    		</tr>
					    		<tr class="noitem" th:unless="${#lists.size(postList)} > 0">
			                		<td colspan="9">
				                		<div><i class="fa-solid fa-circle-exclamation" style="font-size: 300%;"></i></div>
				                		<div>작성한 리뷰가 없습니다.</div>
			                		</td>
			                	</tr>
					    	</tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- JS -->
    <th:block layout:fragment="script">
    	<script type="text/javascript">
	    	/* Modal */
	    	document.addEventListener('DOMContentLoaded', function(){
		    	$('.review-detail').on('click', function(){
		    		let target = '#' + $(this).parent().children(1)[1].id;
		    		console.log(target);
		    		$(target).modal('show');
			    	/* Rating */
			    	let value = $(this).parent().children(1)[1].children[0].children[0].children[1].children[1].children[2].children[2].attributes[1].textContent;
			    	for(let i=0; i < value; i++) {
			    		let star = $(this).parent().children(1)[1].children[0].children[0].children[1].children[1].children[2].children[2].children[i];
			    		star.style.color = '#00008b';
			    	}
		    		return false;
		    	});
	    	});
    	</script>
    </th:block>
</body>
</html>