<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>comment wrapper</title>
</head>
<body>
	<!--/* comment wrapper :: fragment 사용하는 페이지에서 comment.css & comment.js 별도 첨부 필요 */-->
	<div class="container comment-wrapper" th:fragment="commentWrapper">
		<!--/* 댓글 목록 */-->
		<div class="comment-list">
			<div th:if="${not #lists.isEmpty(comments)}" th:each="comment : ${ comments }" th:insert="/fragments/commentBox.html :: commentBox(${comments})"></div>
			<div th:if="${#lists.isEmpty(comments)}">작성된 댓글이 없습니다.</div>
		</div>
		<!--/* 새 댓글 등록 */-->
		<form id="commentForm" name="commentForm" class="comment-form" th:action="@{/comment/write}" method="post">
			<input name="refBoard" th:value="${ refBoard }" hidden="hidden">
			<input name="refPostNo" th:value="${ refPostNo }" hidden="hidden">
			<input name="commentNestLevel" value="1" hidden="hidden">
			<textarea id="commentContent" name="commentContent"></textarea>
			<button class="writeCommentBtn btn btn-dark">등록</button>
		</form>
	</div>
</body>
</html>