<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:fragment="header">
<head>
<meta charset="UTF-8">
	<title>header</title>
    <!-- CSS -->
    <link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
<div class="sticky-top">
    <nav class="py-2 border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
            	<th:block sec:authorize="isAuthenticated()">
                	<li class="nav-item"><span sec:authentication="principal.name" id="isLoggedInAs" class="nav-menu nav-link link-secondary px-3"></span></li> <!-- UserImpl 클래스 통해 회원 정보 호출 -->
                </th:block>
            </ul>
            <ul class="nav">
            	<!-- 로그인(관리자) -->
            	<th:block sec:authorize="hasRole('ADMIN')">
	                <li class="nav-item"><a th:href="@{/admin/dashboard}" class="nav-menu nav-link link-secondary px-3">관리자페이지</a></li>
            	</th:block>
            	<!-- 로그인(회원) -->
            	<th:block sec:authorize="isAuthenticated()">
		            <li class="nav-item"><a th:href="@{/member/signout}" class="nav-menu nav-link link-secondary px-3">로그아웃</a></li>
                	<li class="nav-item"><a th:href="@{/member/mypage}" class="nav-menu nav-link link-secondary px-3">마이페이지</a></li>
            	</th:block>
            	<!-- 비로그인 -->
            	<th:block sec:authorize="isAnonymous()">
	                <li class="nav-item"><a th:href="@{/member/signin}" class="nav-menu nav-link link-secondary px-3">로그인</a></li>
	                <li class="nav-item"><a th:href="@{/member/signup}" class="nav-menu nav-link link-secondary px-3">회원가입</a></li>
            	</th:block>
            	<th:block sec:authorize="permitAll">
	                <li class="nav-item"><a th:href="@{/cart/mycart}" class="nav-menu nav-link link-secondary px-3">장바구니
	                <th:block th:if="${session.countCartItem} == null">
		                <em class="cartCnt">0</em>
	                </th:block>
	                <th:block th:if="${session.countCartItem} != null">
		                <em th:text="${session.countCartItem}" class="cartCnt">[[${session.countCartItem}]]</em>
	                </th:block>
	                </a></li>
            	</th:block>
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center container-fluid">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <span class="fs-4">글벗문구</span>
            </a>
            <ul class="nav me-auto">
              <li class="nav-item"><a href="#" class="head-menu nav-link link-secondary px-3 active" aria-current="page"><b>전체 상품</b></a></li>
              <li class="nav-item"><a href="#" class="head-menu nav-link link-secondary px-3">프리미엄 펜</a></li>
              <li class="nav-item"><a href="#" class="head-menu nav-link link-secondary px-3">펜/연필</a></li>
              <li class="nav-item"><a href="#" class="head-menu nav-link link-secondary px-3">마카/컬러링</a></li>
              <li class="nav-item"><a href="#" class="head-menu nav-link link-secondary px-3">디자인 문구</a></li>
              <li class="nav-item"><a href="#" class="head-menu nav-link link-secondary px-3">기획전</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 search-form" action="#">
                <input type="search" class="form-control search-bar" placeholder="엠에코 플러스펜 정식 출시🤩" aria-label="Search">
                <button type="button" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </header>
</div>
</body>
</html>