<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>paging</title>
</head>
<body>
<!--/* total */-->
<div class="paging-wrapper" th:object="${pageMaker}" th:fragment="paging">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item" th:classappend="*{!hasPreviousPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{startPage-1})}" aria-label="previous">
					<span aria-hidden="true">이전</span>
				</a>
			</li>
			<th:block th:with="start = ${pageMaker.startPage}, last = ${pageMaker.lastPage}"> <!--/* table pagination */-->
				<th:block th:if="${ criteria != null and itemCriteria == null }">
					<li class="page-item" th:with="start = ${pageMaker.startPage}, last = ${pageMaker.lastPage}" th:each="num : ${#numbers.sequence(start, last)}" th:classappend="${criteria.currentPageNo} == ${num} ? active">
						<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=${num})}" th:text="${num}"></a>
					</li>
				</th:block>
				<th:block th:if="${ criteria == null and itemCriteria != null }"> <!--/* items pagination */-->
					<li class="page-item" th:with="start = ${pageMaker.startPage}, last = ${pageMaker.lastPage}" th:each="num : ${#numbers.sequence(start, last)}" th:classappend="${itemCriteria.page} == ${num} ? active">
						<!--/* 전체 상품 */-->
						<th:block th:if="${#httpServletRequest.getParameter('section')} == null">
							<a class="page-link" th:href="@{/product/list(page=${num})}" th:text="${num}"></a>
						</th:block>
						<!--/* 섹션별 상품 */-->
						<th:block th:if="${#httpServletRequest.getParameter('section')} != null and ${#httpServletRequest.getParameter('min')} == null">
							<a class="page-link" th:href="@{/product/list(page=${num}, section=${#httpServletRequest.getParameter('section')})}" th:text="${num}"></a>
						</th:block>
						<!--/* 조건별 상품 */-->
						<th:block th:if="${#httpServletRequest.getParameter('items')} != null">
							<a class="page-link" th:href="@{/product/list(page=${num}, section=${#httpServletRequest.getParameter('section')}, items=${#httpServletRequest.getParameter('items')}, category=${#httpServletRequest.getParameter('category')}, brand=${#httpServletRequest.getParameter('brand')}, min=${#httpServletRequest.getParameter('min')}, max=${#httpServletRequest.getParameter('max')}, tag=${#httpServletRequest.getParameter('tag')}, color=${#httpServletRequest.getParameter('color')}, sortBy=${#httpServletRequest.getParameter('sortBy')})}" th:text="${num}"></a>
						</th:block>
					</li>
				</th:block>
			</th:block>
			<li class="page-item" th:classappend="*{!hasNextPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{lastPage+1})}" aria-label="next">
					<span aria-hidden="true">다음</span>
				</a>
			</li>
		</ul>
	</nav>
	<!--/* table pagination */-->
	<th:block th:if="${ criteria != null and itemCriteria == null }">
		<form id="pageForm" name="pageForm" th:object="${criteria}" method="get">
			<input type="hidden" name="currentPageNo" th:field="*{currentPageNo}">
			<input type="hidden" name="recordsPerPage" th:field="*{recordsPerPage}">
			<input type="hidden" name="condition" th:field="*{condition}">
			<input type="hidden" name="keyword" th:field="*{keyword}">
		</form>
	</th:block>
	<!--/* items pagination */-->
	<th:block th:if="${ criteria == null and itemCriteria != null }">
		<form id="pageForm" name="pageForm" th:object="${itemCriteria}" method="get">
			<input type="hidden" name="page" th:field="*{page}">
			<input type="hidden" name="items" th:field="*{items}">
			<input type="hidden" name="section" th:field="*{section}">
			<input type="hidden" name="sortBy" th:field="*{sortBy}">
		</form>
	</th:block>
</div>
<!--/* onSaleOnly */-->
<div class="paging-wrapper" th:object="${pageMakerWithOnSaleNumber}" th:fragment="pagingWithOnSaleNumber">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item" th:classappend="*{!hasPreviousPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{startPage-1})}" aria-label="previous">
					<span aria-hidden="true">이전</span>
				</a>
			</li>
			<th:block th:with="start = ${pageMakerWithOnSaleNumber.startPage}, last = ${pageMakerWithOnSaleNumber.lastPage}"> <!--/* table pagination */-->
				<th:block th:if="${ criteria != null and itemCriteria == null }">
					<li class="page-item" th:with="start = ${pageMakerWithOnSaleNumber.startPage}, last = ${pageMakerWithOnSaleNumber.lastPage}" th:each="num : ${#numbers.sequence(start, last)}" th:classappend="${criteria.currentPageNo} == ${num} ? active">
						<a class="page-link" th:href="@{/admin/product/list(currentPageNo=${num})}" th:text="${num}"></a>
					</li>
				</th:block>
			</th:block>
			<li class="page-item" th:classappend="*{!hasNextPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{lastPage+1})}" aria-label="next">
					<span aria-hidden="true">다음</span>
				</a>
			</li>
		</ul>
	</nav>
	<!--/* table pagination */-->
	<th:block th:if="${ criteria != null and itemCriteria == null }">
		<form id="pageForm" name="pageForm" th:object="${criteria}" method="get">
			<input type="hidden" name="currentPageNo" th:field="*{currentPageNo}">
			<input type="hidden" name="recordsPerPage" th:field="*{recordsPerPage}">
			<input type="hidden" name="condition" th:field="*{condition}">
			<input type="hidden" name="keyword" th:field="*{keyword}">
		</form>
	</th:block>
</div>
<!--/* stopSaleOnly */-->
<div class="paging-wrapper" th:object="${pageMakerWithStopSaleNumber}" th:fragment="pagingWithStopSaleNumber">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item" th:classappend="*{!hasPreviousPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{startPage-1})}" aria-label="previous">
					<span aria-hidden="true">이전</span>
				</a>
			</li>
			<th:block th:with="start = ${pageMakerWithStopSaleNumber.startPage}, last = ${pageMakerWithStopSaleNumber.lastPage}"> <!--/* table pagination */-->
				<th:block th:if="${ criteria != null and itemCriteria == null }">
					<li class="page-item" th:with="start = ${pageMakerWithStopSaleNumber.startPage}, last = ${pageMakerWithStopSaleNumber.lastPage}" th:each="num : ${#numbers.sequence(start, last)}" th:classappend="${criteria.currentPageNo} == ${num} ? active">
						<a class="page-link" th:href="@{/admin/product/list(currentPageNo=${num})}" th:text="${num}"></a>
					</li>
				</th:block>
			</th:block>
			<li class="page-item" th:classappend="*{!hasNextPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{lastPage+1})}" aria-label="next">
					<span aria-hidden="true">다음</span>
				</a>
			</li>
		</ul>
	</nav>
	<!--/* table pagination */-->
	<th:block th:if="${ criteria != null and itemCriteria == null }">
		<form id="pageForm" name="pageForm" th:object="${criteria}" method="get">
			<input type="hidden" name="currentPageNo" th:field="*{currentPageNo}">
			<input type="hidden" name="recordsPerPage" th:field="*{recordsPerPage}">
			<input type="hidden" name="condition" th:field="*{condition}">
			<input type="hidden" name="keyword" th:field="*{keyword}">
		</form>
	</th:block>
</div>
<!--/* onDiscountOnly */-->
<div class="paging-wrapper" th:object="${pageMakerWithOnDiscountNumber}" th:fragment="pagingWithOnDiscountNumber">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item" th:classappend="*{!hasPreviousPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{startPage-1})}" aria-label="previous">
					<span aria-hidden="true">이전</span>
				</a>
			</li>
			<th:block th:with="start = ${pageMakerWithOnDiscountNumber.startPage}, last = ${pageMakerWithOnDiscountNumber.lastPage}"> <!--/* table pagination */-->
				<th:block th:if="${ criteria != null and itemCriteria == null }">
					<li class="page-item" th:with="start = ${pageMakerWithOnDiscountNumber.startPage}, last = ${pageMakerWithOnDiscountNumber.lastPage}" th:each="num : ${#numbers.sequence(start, last)}" th:classappend="${criteria.currentPageNo} == ${num} ? active">
						<a class="page-link" th:href="@{/admin/product/list(currentPageNo=${num})}" th:text="${num}"></a>
					</li>
				</th:block>
			</th:block>
			<li class="page-item" th:classappend="*{!hasNextPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{lastPage+1})}" aria-label="next">
					<span aria-hidden="true">다음</span>
				</a>
			</li>
		</ul>
	</nav>
	<!--/* table pagination */-->
	<th:block th:if="${ criteria != null and itemCriteria == null }">
		<form id="pageForm" name="pageForm" th:object="${criteria}" method="get">
			<input type="hidden" name="currentPageNo" th:field="*{currentPageNo}">
			<input type="hidden" name="recordsPerPage" th:field="*{recordsPerPage}">
			<input type="hidden" name="condition" th:field="*{condition}">
			<input type="hidden" name="keyword" th:field="*{keyword}">
		</form>
	</th:block>
</div>
<!--/* soldOutOnly */-->
<div class="paging-wrapper" th:object="${pageMakerWithSoldOutNumber}" th:fragment="pagingWithSoldOutNumber">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li class="page-item" th:classappend="*{!hasPreviousPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{startPage-1})}" aria-label="previous">
					<span aria-hidden="true">이전</span>
				</a>
			</li>
			<th:block th:with="start = ${pageMakerWithSoldOutNumber.startPage}, last = ${pageMakerWithSoldOutNumber.lastPage}"> <!--/* table pagination */-->
				<th:block th:if="${ criteria != null and itemCriteria == null }">
					<li class="page-item" th:with="start = ${pageMakerWithSoldOutNumber.startPage}, last = ${pageMakerWithSoldOutNumber.lastPage}" th:each="num : ${#numbers.sequence(start, last)}" th:classappend="${criteria.currentPageNo} == ${num} ? active">
						<a class="page-link" th:href="@{/admin/product/list(currentPageNo=${num})}" th:text="${num}"></a>
					</li>
				</th:block>
			</th:block>
			<li class="page-item" th:classappend="*{!hasNextPage} ? 'disabled'">
				<a class="page-link" th:href="@{${#httpServletRequest.requestURI}(currentPageNo=*{lastPage+1})}" aria-label="next">
					<span aria-hidden="true">다음</span>
				</a>
			</li>
		</ul>
	</nav>
	<!--/* table pagination */-->
	<th:block th:if="${ criteria != null and itemCriteria == null }">
		<form id="pageForm" name="pageForm" th:object="${criteria}" method="get">
			<input type="hidden" name="currentPageNo" th:field="*{currentPageNo}">
			<input type="hidden" name="recordsPerPage" th:field="*{recordsPerPage}">
			<input type="hidden" name="condition" th:field="*{condition}">
			<input type="hidden" name="keyword" th:field="*{keyword}">
		</form>
	</th:block>
</div>
<script th:src="@{/js/paging.js}" type="text/javascript"></script>
</body>
</html>