<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:fragment="slider">
<head>
    <meta charset="utf-8">
    <title>main display slider</title>
    <link href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link th:href="@{/css/slider.css}" rel="stylesheet">
</head>
<body>
	<div class="swiper mainSwiper">
		<div class="main-wrapper swiper-wrapper">
			<div class="main swiper-slide">
				<button type="button" class="viewBtn btn">153블라썸</button>
				<div class="image-wrapper">
					<div class=imageBox>
						<div class="background"></div>
						<img class="image" th:src="@{/image/002.png}">
					</div>
				</div>
			</div>
			<div class="main swiper-slide">
				<button type="button" class="viewBtn btn">153블라썸</button>
				<div class="image-wrapper">
					<div class=imageBox>
						<div class="background"></div>
						<img class="image" th:src="@{/image/005.png}">
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	<script th:src="@{/js/slider.js}" type="text/javascript"></script>
</body>
</html>