<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>글벗문구</title>
</head>
<body style="font-family: 'Noto Sans KR', sans-serif;">
	<div class="header" style="background-color: #b7b7b7; height: 100px;">
		<a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
			<span class="fs-4" style="font-family: 'Gowun Dodum', sans-serif; font-size: 24px; font-weight: 700;">글벗문구</span>
		</a>
		<div class="title">글벗문구 인증확인 메일입니다.</div>
	</div>
	<div class="content" th:if="${tempPwd}">
		<h5>임시 비밀번호</h5>
		<div>
		<p>안녕하세요, <span>[[${ name }]]</span>님!</p>
		<p>글벗문구 임시 비밀번호입니다. 로그인 후 비밀번호를 꼭 변경해 주세요!</p>
		</div>
		<div style="background-color: #f7f7f7; height: 100px;"><a>[[${ tempPwd }]]</a></div>
	</div>
	<div class="footer">GEULBEOTMALL. @rhjdev</div>
</body>
</html>