<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>회원가입 | 글벗문구</title>
    <!-- CSS -->
    <th:block layout:fragment="css">
	    <link th:href="@{/css/signup.css}" rel="stylesheet">
	    <!-- 이메일 자동완성 -->
	    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    </th:block>
</head>
<body layout:fragment="content">
	<div class="title-wrapper">
        <h2>회원가입</h2>
    </div>
    <div class="container content-wrapper">
        <form id="signupForm" name="signupForm" th:object="${member}" th:action="@{/member/signup}" method="post">
            <div class="inputBox">
                <div class="form-floating required">
                    <input type="text" class="form-control" id="memberId" name="memberId" autocomplete="off" placeholder="아이디" title="아이디 입력" oninvalid="this.setCustomValidity('아이디 입력')" oninput="setCustomValidity('')">
                    <label for="memberId">아이디<b style="color: #ff0000;"> *</b></label>
                    <span id="memberIdMsg" class="msg memberIdMsg"></span>
                </div>
                <div class="form-floating required">
                    <input type="password" class="form-control" id="memberPwd" name="memberPwd" autocomplete="off" placeholder="비밀번호" title="비밀번호 입력" oninvalid="this.setCustomValidity('비밀번호 입력')" oninput="setCustomValidity('')">
                    <label for="memberPwd">비밀번호<b style="color: #ff0000;"> *</b></label>
                    <span class="msg">8~16자의 영문 대소문자/숫자/특수기호 조합하여 입력</span>
                </div>
                <div class="form-floating required">
                    <input type="password" class="form-control" id="confirmPwd" name="confirmPwd" autocomplete="off" placeholder="비밀번호 확인" title="비밀번호 확인 입력" oninvalid="this.setCustomValidity('비밀번호 확인 입력')" oninput="setCustomValidity('')">
                    <label for="confirmPwd">비밀번호 확인<b style="color: #ff0000;"> *</b></label>
                    <span id="confirmPwdMsg" class="msg">비밀번호가 일치하지 않습니다</span>
                    <button type="button" class="visibility" tabindex="-1">
                        <i class="fa-solid fa-eye-slash" style="filter: invert(47%) sepia(2%) saturate(2314%) hue-rotate(167deg) brightness(95%) contrast(80%);"></i>
                    </button>
                </div>
                <div class="form-floating required">
                    <input type="text" class="form-control" id="name" name="name" autocomplete="off" placeholder="이름" title="이름 입력" oninvalid="this.setCustomValidity('이름 입력')" oninput="setCustomValidity('')">
                    <label for="name">이름<b style="color: #ff0000;"> *</b></label>
                    <span class="msg"></span>
                </div>
                <div class="form-floating required">
                    <input type="text" onKeyup="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" id="phoneA" name="phoneA" autocomplete="off" placeholder="연락처" title="연락처 입력" oninvalid="this.setCustomValidity('연락처 입력')" oninput="setCustomValidity('')" maxlength="3">
                    <p class="dash"></p>
                    <input type="text" onKeyup="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" id="phoneB" name="phoneB" autocomplete="off" placeholder="연락처" title="연락처 입력" oninvalid="this.setCustomValidity('연락처 입력')" oninput="setCustomValidity('')" maxlength="4">
                    <p class="dash"></p>
                    <input type="text" onKeyup="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" id="phoneC" name="phoneC" autocomplete="off" placeholder="연락처" title="연락처 입력" oninvalid="this.setCustomValidity('연락처 입력')" oninput="setCustomValidity('')" maxlength="4">
                    <label>연락처<b style="color: #ff0000;"> *</b></label>
                </div>
                <div class="form-floating required">
                    <input type="email" class="form-control" id="email" name="email" onkeyup="autoDomain('email', this.value)" autocomplete="off" placeholder="이메일" title="이메일 입력" oninvalid="this.setCustomValidity('이메일 입력')" oninput="setCustomValidity('')">
                    <label for="email">이메일<b style="color: #ff0000;"> *</b></label>
                    <span class="msg">인증메일발송 통해 이메일을 인증</span>
                </div>
                <div class="form-floating required">
                    <input type="text" class="form-control" id="postalCode" name="postalCode" autocomplete="off" placeholder="우편번호" title="우편번호 입력" oninvalid="this.setCustomValidity('우편번호 입력')" oninput="setCustomValidity('')" readonly>
                    <label for="postalCode">우편번호<b style="color: #ff0000;"> *</b></label>
                    <input type="button" onclick="DaumPostcode()" class="btn-outline-dark" id="searchPostalCode" style="width: 40%;" value="우편번호검색"></input>
                </div>
                <div class="form-floating required">
                    <input type="text" class="form-control" id="address" name="address" autocomplete="off" placeholder="주소" title="주소 입력" oninvalid="this.setCustomValidity('주소 입력')" oninput="setCustomValidity('')" readonly>
                    <label for="address">주소<b style="color: #ff0000;"> *</b></label>
                </div>
                <div class="form-floating required">
                    <input type="text" class="form-control" id="detailAddress" name="detailAddress" autocomplete="off" placeholder="상세 주소" title="상세 주소 입력" oninvalid="this.setCustomValidity('주소 입력')" oninput="setCustomValidity('')">
                    <label for="address">상세 주소</label>
                </div>
            </div>

            <div class="termsBox">
                <div class="all-terms-wrapper">
                    <label class="label-checkbox">
                        <input type="checkbox" class="input-checkbox" id="checkAll">
                        <span>전체 동의</span>
                    </label>
                </div>
                <hr>
                <div class="terms-list">
                    <label class="label-checkbox">
                        <input type="checkbox" class="input-checkbox term">
                        <span><b style="color: #ff0000;">(필수)</b>만 14세 이상입니다.</span>
                    </label>
                </div>
                <div class="terms-list">
                    <label class="label-checkbox">
                        <input type="checkbox" class="input-checkbox term">
                        <span><b style="color: #ff0000;">(필수)</b>이용약관에 동의합니다.</span>
                        <p class="terms-detail"><a href="#" target="_blank">자세히</a></p>
                    </label>
                </div>
                <div class="terms-list">
                    <label class="label-checkbox">
                        <input type="checkbox" class="input-checkbox term">
                        <span><b style="color: #ff0000;">(필수)</b>개인정보 수집 및 이용 방침에 동의합니다.</span>
                        <p class="terms-detail"><a href="#" target="_blank">자세히</a></p>
                    </label>
                </div>
                <div class="terms-list">
                    <label class="label-checkbox">
                        <input type="checkbox" class="input-checkbox term" name="agreement" value="Y">
                        <span><b style="color: #6c757d;">(선택)</b>마케팅 알림 메일 수신에 동의합니다.</span>
                        <p class="terms-detail"><a href="#" target="_blank">자세히</a></p>
                    </label>
                </div>
            </div>

            <div class="buttonBox">
                <button type="submit" class="btn-dark" id="registBtn">회원가입</button>
            </div>
        </form>
    </div>
    
    <!-- JS -->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/signup.js}" type="text/javascript"></script>
    	
	    <!-- 이메일 자동완성 -->
	    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    	
	    <!-- 주소 API -->
	    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    	
    </th:block>
</body>
</html>