<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>리뷰쓰기 | 글벗문구</title>
	<!-- CSS -->
    <th:block layout:fragment="css">
	    <link th:href="@{/css/review.css}" rel="stylesheet">
	    <link th:href="@{/css/thumbnail.css}" rel="stylesheet">
	</th:block>
</head>
<body layout:fragment="content">
	<div class="title-wrapper">
        <h2>리뷰쓰기</h2>
    </div>
    <div class="container content-wrapper">
    	<div class="writeBox">
    		<form id="writeForm" name="writeForm" class="write-form" th:action="@{/review/write}" method="post" enctype="multipart/form-data" onsubmit="return submitWriteForm(this);">
    			<fieldset>
					<legend>상품 정보</legend>
				</fieldset>
				<table>
					<tbody>
						<tr th:object="${ reviewOption }">
			    			<td><img th:src="*{ product.attachmentList[0].thumbnailPath }" style="width: 80px; height: 80px;"></td>
			    			<td class="option-area" th:value="*{ product.prodNo }">
				    			<a th:href="@{/product/details(no=*{product.prodNo})}">[[*{ product.prodName }]]</a>
				    			<p>
			    					<span>[[*{ option.pointSize }]]mm</span>
				    				<th:block th:if="*{ option.bodyColor != '(해당없음)' }">
				    					<span th:text="|/ ${#strings.replace(reviewOption.option.bodyColor, '$', ',')}|"></span>
				    				</th:block>
				    				<th:block th:if="*{ option.inkColor != '(해당없음)' }">
				    					<span th:text="|/ ${#strings.replace(reviewOption.option.inkColor, '$', ',')}|"></span>
				    				</th:block>
				    			</p>
			    			</td>
			    			<td class="dlvrDate">
			    			<span th:utext="|주문일 : ${reviewOption.orderDetail.orderDate}"></span><br>
			    			<span th:utext="|배송완료일 : ${#dates.format(reviewOption.delivery.deliveryDate, 'yyyy-MM-dd')}|"></span></td>
			    		</tr>
					</tbody>
				</table>
    			<fieldset>
					<legend>리뷰 작성</legend>
				</fieldset>
				<table class="review-table">
					<colgroup>
						<col>
						<col>
					</colgroup>
					<thead>
						<tr>
							<th>제목</th>
							<td>
								<input type="text" id="orderNo" name="orderNo" th:value="${ reviewOption.orderNo }" hidden="hidden">
								<input type="text" id="optionNo" name="optionNo" th:value="${ reviewOption.optionNo }" hidden="hidden">
								<input th:if="${ reviewDetail == null }" type="text" id="revwTitle" name="revwTitle" placeholder="제목을 입력하세요" autocomplete="off">
								<input th:if="${ reviewDetail != null }" th:value="${ reviewDetail.revwTitle }" type="text" id="revwTitle" name="revwTitle" placeholder="제목을 입력하세요">
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>별점</th>
							<td colspan="2">
								<div class="stars">
									<input type="radio" id="one" name="revwRatings" value="1">
									<label for="one">&#9733;</label>
									<input type="radio" id="two" name="revwRatings" value="2">
									<label for="two">&#9733;</label>
									<input type="radio" id="three" name="revwRatings" value="3">
									<label for="three">&#9733;</label>
									<input type="radio" id="four" name="revwRatings" value="4">
									<label for="four">&#9733;</label>
									<input type="radio" id="five" name="revwRatings" value="5">
									<label for="five">&#9733;</label>
								</div>
							</td>
						</tr>
						<tr>
							<th>내용</th>
							<td>
								<div>
									<textarea th:if="${ reviewDetail == null }" id="revwContent" name="revwContent"></textarea>
									<textarea th:if="${ reviewDetail != null }" th:text="${ reviewDetail.revwContent }" id="revwContent" name="revwContent"></textarea>
								</div>
							</td>
						</tr>
						<tr>
							<th>사진첨부</th>
							<td class="thumbnailBox reviewImageBox">
								<ul>
									<li class="imageItem" onclick="previewImage()">
										<div class="imageBox reviewImage">
											<label for="image1" class="imageLabel">
												<i class="fa-solid fa-image" style="font-size: 300%;"></i>
											</label>
										</div>
									</li>
								</ul>
								<ul>
									<li class="imageItem" onclick="previewImage()">
										<div class="imageBox reviewImage">
											<label for="image2" class="imageLabel">
												<i class="fa-solid fa-image" style="font-size: 300%;"></i>
											</label>
										</div>
									</li>
								</ul>
								<ul>
									<li class="imageItem" onclick="previewImage()">
										<div class="imageBox reviewImage">
											<label for="image3" class="imageLabel">
												<i class="fa-solid fa-image" style="font-size: 300%;"></i>
											</label>
										</div>
									</li>
								</ul>
								<input type="file" id="image1" name="files" class="files" accept="image/gif,image/jpeg,image/png" style="display: none;">
								<input type="file" id="image2" name="files" class="files" accept="image/gif,image/jpeg,image/png" style="display: none;">
								<input type="file" id="image3" name="files" class="files" accept="image/gif,image/jpeg,image/png" style="display: none;">
							</td>
						</tr>
					</tbody>
				</table>
				<div class="buttonBox">
					<button type="button" class="cancelBtn btn" onclick="history.back()">취소</button>
					<button type="submit" class="writeBtn btn btn-dark">등록</button>
				</div>
    		</form>
    	</div>
    </div>
    <th:block layout:fragment="script">
    	<script th:src="@{/js/review.js}" type="text/javascript"></script>
    	<!-- CKEditor4 -->
	  	<script src="https://cdn.ckeditor.com/4.19.0/basic/ckeditor.js"></script>
	  	<script type="text/javascript">
		  	$(function() {
				let ckeditor_config = {
						filebrowserUploadMethod : 'form',
						filebrowserUploadUrl : '/',
						language : 'ko'
				};
				CKEDITOR.replace('revwContent', ckeditor_config);
		  	});
		</script>
    </th:block>
</body>
</html>