<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>1:1 문의 | 고객센터 | 글벗문구</title>
	<!--/* CSS */-->
	<th:block layout:fragment="css">
	    <link th:href="@{/css/thumbnail.css}" rel="stylesheet">
	    <link th:href="@{/css/selector.css}" rel="stylesheet">
		<link th:href="@{/css/customerservice.css}" rel="stylesheet">
		<link th:href="@{/css/comment.css}" rel="stylesheet">
	</th:block>
</head>
<body layout:fragment="content">
	<div class="title-wrapper">
		<h2>1:1 문의</h2>
	</div>
	<div class="container content-wrapper inqDetail-wrapper">
		<button type="button" class="inquiryMainBtn btn" th:onclick="|location.href='@{/cs/main}'|">목록</button>
		<hr>
		<div class="inqDetailBox">
			<div class="inqDetail-title">
				<span>[[${ inquiryDetail.inquiryType }]]</span>
				<strong>[[${ inquiryDetail.inquiryTitle }]]</strong>
			</div>
			<div class="inqDetail-info"> <!--/* 관리자는 작성자 아이디 클릭 시 해당 회원 상세 정보 페이지로 이동 */-->
				<a sec:authorize="hasRole('ADMIN')" class="showMemberInfo" th:href="@{/admin/member/details(id=${inquiryDetail.memberId})}">[[${#strings.replace(inquiryDetail.memberId, #strings.substring(inquiryDetail.memberId, 4), '***')}]]</a>
				<span sec:authorize="!hasRole('ADMIN')">[[${#strings.replace(inquiryDetail.memberId, #strings.substring(inquiryDetail.memberId, 4), '***')}]]</span>
				<span th:text="${#dates.format(inquiryDetail.inquiryRegDate, 'yy.MM.dd HH:mm')}"></span>
				<span>댓글 <b style="color: #ff0000;">[[${#lists.size(comments) + #lists.size(nestedComments)}]]</b></span>
			</div>
			<div class="inqDetail-content">
				<span>[(${ inquiryDetail.inquiryContent })]</span>
			</div>
			<div class="inqDetail-attachment" th:if="${#lists.size(inquiryDetail.attachmentList) > 0}">
				첨부된 파일 <b style="color: #ff0000;">[[${#lists.size(inquiryDetail.attachmentList)}]]</b> 개
				<div class="inqDetail-download" th:each="attachmentList : ${ inquiryDetail.attachmentList }">
					<i class="fa-regular fa-circle-down"></i>
					<a th:href="|/download/${attachmentList.attachmentNo}|">[[${ attachmentList.origFileName }]] <b>다운로드</b></a>
					<span>(누적 [[${ attachmentList.download.downloadHits }]])</span>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/comment.html :: commentWrapper"></div>
	<!--/* JS */-->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/comment.js}" type="text/javascript"></script>
	</th:block>
</body>
</html>