<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>글벗문구</title>
	<!-- CSS -->
	<th:block layout:fragment="css">
		<link th:href="@{/css/product.css}" rel="stylesheet">
		<link th:href="@{/css/post.css}" rel="stylesheet">
	</th:block>
</head>
<body layout:fragment="content">
	<div class="container content-wrapper">
		<div class="thumbnailBox" >
			<div class="zoom-wrapper">
				<img id="thumbnail" th:src="${ mainThumb.thumbnailPath }" th:data-zoom-image="${ mainThumb.savePath }">
			</div>
			<div class="thumbs-wrapper" id="thumbs-gallery">
				<a href="#" class="elevatezoom-gallery active" th:data-image="${ mainThumb.thumbnailPath }" th:data-zoom-image="${ mainThumb.savePath }">
					<img id="thumbs" th:src="${ mainThumb.thumbnailPath }" width="50">
				</a>
				<a href="#" class="elevatezoom-gallery" th:data-image="${ subThumb.thumbnailPath }" th:data-zoom-image="${ subThumb.savePath }">
					<img id="thumbs" th:src="${ subThumb.thumbnailPath }" width="50">
				</a>
			</div>
		</div>
		<div class="infoBox">
			<div class="shareBox">
				<ul>
					<li><a href="#" onclick="shareCurrentPage(); return false;"><i class="fa-solid fa-link"></i> URL</a></li>
				</ul>
			</div>
			<div class="title-wrapper">
				<a href="#">[[${ detail.brand.brandName }]] <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
				<h2 style="margin-bottom: 0;">[[${ detail.prodName }]]</h2>
			</div>
			<div class="color-wrapper">
				<!-- ProductBodyColor ENUM에 정의된 색상 목록 전체를 조회해 알맞은 값을 찾도록 이중 each문으로 작성 -->
				<!-- list에 '(해당없음)'이 포함된 경우는 바디컬러 0개이므로 출력에서 제외 -->
				<th:block th:with="bodyColor=${ bodyColor }" th:unless="${#lists.contains(bodyColor, '(해당없음)')}">
					<ul>
						<li class="th color-th"><p>바디컬러</p></li>
						<li class="td color-td">
							<th:block th:each="body : ${T(com.reminder.geulbeotmall.product.model.dto.ProductBodyColor).values()}">
								<span class="color-span" th:each="bodyColor : ${ bodyColor }" th:if="${ bodyColor == body.getLabel() }">
									<i class="fa-solid fa-circle" th:style="${ body.getColor() }"></i>
									&nbsp;[[${ bodyColor }]]
								</span>
							</th:block>
						</li>
					</ul>
				</th:block>
				<!-- ProductInkColor ENUM에 정의된 색상 목록 전체를 조회해 알맞은 값을 찾도록 이중 each문으로 작성 -->
				<th:block th:with="inkColor=${ inkColor }" th:unless="${#lists.contains(inkColor, '(해당없음)')}">
					<ul>
						<li class="th color-th"><p>잉크컬러</p></li>
						<li class="td color-td">
							<th:block th:each="ink : ${T(com.reminder.geulbeotmall.product.model.dto.ProductInkColor).values()}">
								<span class="color-span" th:each="inkColor, status : ${ inkColor }" th:if="${ inkColor == ink.getLabel() && status.index < 7 }">
									<i class="fa-solid fa-circle" th:style="${ ink.getColor() }"></i>
									&nbsp;[[${ inkColor }]]
								</span>
							</th:block>
							<th:block th:each="ink : ${T(com.reminder.geulbeotmall.product.model.dto.ProductInkColor).values()}">
								<span class="color-span color-hide" th:each="inkColor, status : ${ inkColor }" th:if="${ inkColor == ink.getLabel() && status.index > 7 }" style="display: none;">
									<i class="fa-solid fa-circle" th:style="${ ink.getColor() }"></i>
									&nbsp;[[${ inkColor }]]
								</span>
							</th:block>
							<th:block th:with="inkColor=${ inkColor }" th:if="${#lists.size(inkColor) > 7}">
								<span class="color-more"><a href="#" style="color: #6c757d;" onclick="return false;">더보기</a></span>
							</th:block>
						</li>
					</ul>
				</th:block>
			</div>
			<div class="size-wrapper">
				<ul>
					<li class="th"><p>심두께 및 스펙</p></li>
					<li class="td">
						<th:block th:each="size : ${T(com.reminder.geulbeotmall.product.model.dto.PointSize).values()}">
							<hr class="point" th:each="pointSize : ${ pointSize }" th:style="${#numbers.formatDecimal(pointSize,1,1) == #numbers.formatDecimal(size.getValue(),1,1) ? size.getThickness() : 'display: none;'}">
							<span th:each="pointSize : ${ pointSize }" th:if="${#numbers.formatDecimal(pointSize,1,1) == #numbers.formatDecimal(size.getValue(),1,1)}">&nbsp;&nbsp;&nbsp;[(${ #numbers.formatDecimal(pointSize,1,1) })]mm&nbsp;&nbsp;&nbsp;</span>
						</th:block>
					</li>
				</ul>
			</div>
			<div class="tag-wrapper">
				<ul>
					<li class="th"><p>주요 특징</p></li>
					<li class="td" style="display: block;">
						<th:block th:each="tag : ${ tagList }">
							<span class="tag-span">[[${ tag }]]</span>
						</th:block>
					</li>
				</ul>
			</div>
			<hr>
			<div class="price-wrapper">
				<ul>
					<li class="th"><p>판매가</p></li>
					<!-- 판매가A. 할인 대상이 아닌 경우 원가 그대로 출력 -->
					<li class="td" th:if="${detail.discountRate} == 0">
						<span>[[${#numbers.formatInteger(detail.prodPrice, 3, 'COMMA')}]]원</span> <!-- 세 자리마다 구분자 삽입 -->
					</li>
                	<!-- 판매가B. 적용된 할인율이 0% 이상인 경우 판매가 산정하여 출력 -->
					<li class="td" th:if="${detail.discountRate} > 0">
                		<del><span>[[${#numbers.formatInteger((detail.prodPrice), 3, 'COMMA')}]]원</span></del>
                		<span>&nbsp;&nbsp;[[${#numbers.formatInteger(detail.prodPrice - (detail.prodPrice * detail.discountRate / 100), 3, 'COMMA')}]]원</span>
                		<span>&nbsp;&nbsp;[[${ detail.discountRate }]]%</span>
					</li>
				</ul>
			</div>
			<div class="brand-wrapper">
				<ul>
					<li class="th"><p>원산지/판매원</p></li>
					<li class="td"><span>[[${ detail.prodOrigin }]] / [[${ detail.brand.brandName }]]</span></li>
				</ul>
			</div>
			<div class="delivery-wrapper">
				<ul>
					<li class="th"><p>배송 정보</p></li>
					<li class="td">
						<span>16시 이전 주문 시 당일출고(공휴일,토/일요일제외)</span>
					</li>
				</ul>
				<ul>
					<li class="th"><p>배송비</p></li>
					<li class="td">
						<span>3,000원 (2만원 이상 주문 시 무료 배송)</span>
					</li>
				</ul>
			</div>
			<hr>
			<div class="selector-wrapper">
				<ul>
					<li class="th"><p>옵션 선택</p></li>
					<li class="td">
						<div id="optionSelector" class="dropdown" tabindex="0">
							<span class="current" style="line-height: 40px;">선택하세요</span>
							<div class="list">
								<ul>
								<th:block th:with="option=${ option }" th:if="${#lists.size(option) == 1}">
									<li class="option" th:each="option : ${ option }" th:value="${ option.optionNo }">[[${ detail.prodName }]](재고: [[${ option.stock.stockAmount }]]개)</li>
								</th:block>
								<th:block th:with="option=${ option }" th:if="${#lists.size(option) > 1}">
									<li class="option" th:each="option : ${ option }" th:value="${ option.optionNo }" th:if="${ option.bodyColor != '(해당없음)' && option.inkColor == '(해당없음)'}">[[${ option.bodyColor }]]/[[${ option.inkColor }]](재고: [[${ option.stock.stockAmount }]]개)</li>
									<li class="option" th:each="option : ${ option }" th:value="${ option.optionNo }" th:if="${ option.bodyColor == '(해당없음)' && option.inkColor != '(해당없음)'}">[[${ option.inkColor }]](재고: [[${ option.stock.stockAmount }]]개)</li>
									<li class="option" th:each="option : ${ option }" th:value="${ option.optionNo }" th:if="${ option.bodyColor == '(해당없음)' && option.inkColor == '(해당없음)' }">[[${ option.pointSize }]]mm(재고: [[${ option.stock.stockAmount }]]개)</li>
								</th:block>
								</ul>
							</div>
							<i class="fa-solid fa-chevron-down"></i>
						</div>
					</li>
				</ul>
				<form id="productOrderForm" name="productOrderForm" action="">
					<div id="selectedOption">
						<div class="getHiddenPrice" th:value="${ detail.prodPrice - (detail.prodPrice * detail.discountRate / 100) }" th:text="|${#numbers.formatInteger((detail.prodPrice - (detail.prodPrice * detail.discountRate / 100)), 3, 'COMMA')}원|" hidden="hidden"></div>
					</div>
					<div id="sumTotal">
						<span>총 상품금액</span>
						<span id="totalPrice">0</span>
						원
					</div>
					<div class="buttonBox">
						<button type="button" class="btn" id="cartBtn" onclick="addToCart()">장바구니</button>
						<button type="button" class="btn btn-dark" id="orderBtn" onclick="orderProduct()">바로구매</button>
						<button type="button" class="btn" id="wishBtn" th:unless="${ memberWishItem }">
							<i class="fa-regular fa-heart" onclick="addToWishList()"></i>
						&nbsp;찜</button>
						<!-- 회원의 경우 위시리스트 상품은 별도 표시 -->
						<button type="button" class="btn" id="wishBtn" th:if="${ memberWishItem }">
							<i th:if="${#lists.contains(memberWishItem, detail.prodNo)}" style="color: #ff0000;" class="fa-solid fa-heart" onclick="addToWishList()"></i>
							<i th:unless="${#lists.contains(memberWishItem, detail.prodNo)}" class="fa-regular fa-heart" onclick="addToWishList()"></i>
						&nbsp;찜</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container content-wrapper">
		<ul class="nav nav-tabs" id="infoTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="detail" aria-selected="true">상품상세정보</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">상품리뷰([[${#lists.size(reviewList)}]])</button>
			</li>
		</ul>
		<div class="tab-content" id="reviewTabContent" style="margin-bottom: 100px !important;">
			<!-- 상품상세정보 -->
			<div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab" style="text-align: center;">[(${ detail.prodDetailContent })]</div>
			<!-- 상품리뷰 -->
			<div class="tab-pane fade show" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="notice-area">
					<ul class="review-notice">
						<li>글벗문구는 텍스트리뷰 <b>100원</b> / 포토리뷰 <b>300원</b>을 적립해 드리고 있습니다.</li>
						<li>상품 문의, 확인되지 않은 사항, 미풍양속을 해치는 글은 관리자가 임의로 삭제할 수 있으니 양해 바랍니다.</li>
					</ul>
				</div>
				<div class="rating-area">
					<div class="info-list">
						<ul>
							<li>
								<a>사용자 총 평점<br><b th:if="${ averageRating != null }">[[${ averageRating }]]</b><b th:if="${ averageRating == null }">0.0</b><b style="color: #E5E5E5; font-weight: 400;">/5</b></a>
							</li>
							<li>
								<a>전체 리뷰수<br><b th:if="${ total != null }">[[${ total }]]</b><b th:if="${ total == null }">0</b></a>
							</li>
							<li>
								<div class="progress-area">
									<div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
									<div class="progress">
										<div th:if="${percentageList != null}" class="progress-bar" role="progressbar" aria-label="five-star" th:aria-valuenow="${percentageList[4]}" aria-valuemin="0" aria-valuemax="100">[[${percentageList[4]}]]%</div>
										<div th:if="${percentageList == null}" class="progress-bar" role="progressbar" aria-label="five-star" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
									</div>
									<div th:if="${numberList != null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">[[${numberList[4]}]]</div>
									<div th:if="${numberList == null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">0</div>
								</div>
								<div class="progress-area">
									<div class="stars">&#9733;&#9733;&#9733;&#9733;</div>
									<div class="progress">
										<div th:if="${percentageList != null}" class="progress-bar" role="progressbar" aria-label="four-star" th:aria-valuenow="${percentageList[3]}" aria-valuemin="0" aria-valuemax="100">[[${percentageList[3]}]]%</div>
										<div th:if="${percentageList == null}" class="progress-bar" role="progressbar" aria-label="four-star" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
									</div>
									<div th:if="${numberList != null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">[[${numberList[3]}]]</div>
									<div th:if="${numberList == null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">0</div>
								</div>
								<div class="progress-area">
									<div class="stars">&#9733;&#9733;&#9733;</div>
									<div class="progress">
										<div th:if="${percentageList != null}" class="progress-bar" role="progressbar" aria-label="three-star" th:aria-valuenow="${percentageList[2]}" aria-valuemin="0" aria-valuemax="100">[[${percentageList[2]}]]%</div>
										<div th:if="${percentageList == null}" class="progress-bar" role="progressbar" aria-label="three-star" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
									</div>
									<div th:if="${numberList != null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">[[${numberList[2]}]]</div>
									<div th:if="${numberList == null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">0</div>
								</div>
								<div class="progress-area">
									<div class="stars">&#9733;&#9733;</div>
									<div class="progress">
										<div th:if="${percentageList != null}" class="progress-bar" role="progressbar" aria-label="two-star" th:aria-valuenow="${percentageList[1]}" aria-valuemin="0" aria-valuemax="100">[[${percentageList[1]}]]%</div>
										<div th:if="${percentageList == null}" class="progress-bar" role="progressbar" aria-label="two-star" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
									</div>
									<div th:if="${numberList != null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">[[${numberList[1]}]]</div>
									<div th:if="${numberList == null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">0</div>
								</div>
								<div class="progress-area">
									<div class="stars">&#9733;</div>
									<div class="progress">
										<div th:if="${percentageList != null}" class="progress-bar" role="progressbar" aria-label="one-star" th:aria-valuenow="${percentageList[0]}" aria-valuemin="0" aria-valuemax="100">[[${percentageList[0]}]]%</div>
										<div th:if="${percentageList == null}" class="progress-bar" role="progressbar" aria-label="one-star" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
									</div>
									<div th:if="${numberList != null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">[[${numberList[0]}]]</div>
									<div th:if="${numberList == null}" style="margin-left: 10px; font-weight: bold; line-height: 12px;">0</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-area" th:each="reviewList : ${ reviewList }" th:value="${ reviewList.reviewNo }">
					<div><h4><a data-toggle="modal" th:href="'#review-content' + ${ reviewList.reviewNo }">[[${ reviewList.revwTitle }]]</a></h4></div>
					<div class="info">
						<span class="writer">[[${ reviewList.memberId }]]</span><br>
						<span class="star" th:value="${ reviewList.revwRatings }"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
						<span class="date">[[${#dates.format(reviewList.revwRegDate, 'yyyy.MM.dd')}]]</span>
						<span class="store">&#8729;&nbsp;신고</span>
					</div>
					<div class="image" th:each="attachment : ${ reviewList.attachmentList }" th:if="${ attachmentStat.first == true }"><img th:src="${ attachment.thumbnailPath }"></div>
					<div class="option">
	    				<p>
	    					<span th:text="|&nbsp;${ reviewList.option.pointSize }mm|"></span>
		    				<th:block th:if="${ reviewList.option.bodyColor != '(해당없음)' }">
		    					<span th:text="|/ ${#strings.replace(reviewList.option.bodyColor, '$', ',')}|"></span>
		    				</th:block>
		    				<th:block th:if="${ reviewList.option.inkColor != '(해당없음)' }">
		    					<span th:text="|/ ${#strings.replace(reviewList.option.inkColor, '$', ',')}|"></span>
		    				</th:block>
		    			</p>
					</div>
					<div class="content">
						<span>[(${ reviewList.revwContent })]</span>
					</div>
				</div>
				<div class="nopost" th:if="${#lists.isEmpty(reviewList)}">
					<div><i class="fa-solid fa-circle-exclamation" style="font-size: 300%;"></i></div>
	                <div>작성된 상품 리뷰가 없습니다.</div>
				</div>
			</div>
		</div>
	</div>
	<div th:each="reviewList : ${ reviewList }" th:id="'review-content' + ${ reviewList.reviewNo }" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-lg modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
    			<div class="modal-header">
    				<div class="product">
    					<a th:text="|[${ reviewList.product.prodName }]|"></a>
    				</div>
					<h5>[[${ reviewList.revwTitle }]]</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
				</div>
				<div class="modal-body">
					<th:block th:if="${#maps.containsValue(attachmentMap, reviewList.reviewNo)}">
					<div class="body">
						<div id="carouselIndicators" class="carousel slide" data-bs-ride="true">
							<div class="carousel-indicators">
								<th:block th:if="${attachmentMap.keySet().size() >= 1}">
									<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
								</th:block>
								<th:block th:if="${attachmentMap.keySet().size() >= 2}">
									<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
								</th:block>
								<th:block th:if="${attachmentMap.keySet().size() >= 3}">
									<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
								</th:block>
							</div>
							<div class="carousel-inner">
								<th:block th:if="${attachmentMap.keySet().size() >= 1}">
									<div class="carousel-item active">
										<img th:src="${attachmentMap.keySet()[0]}" class="d-block w-100" alt="attachment 1">
									</div>
								</th:block>
								<th:block th:if="${attachmentMap.keySet().size() >= 2}">
									<div class="carousel-item">
										<img th:src="${attachmentMap.keySet()[1]}" class="d-block w-100" alt="attachment 1">
									</div>
								</th:block>
								<th:block th:if="${attachmentMap.keySet().size() >= 3}">
									<div class="carousel-item">
										<img th:src="${attachmentMap.keySet()[2]}" class="d-block w-100" alt="attachment 1">
									</div>
								</th:block>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
					</th:block>
					<th:block th:unless="${#maps.containsValue(attachmentMap, reviewList.reviewNo)}">
					<div class="body">
						<div id="imageNotFound"><span class="fs-4">글벗문구</span></div>
					</div>
					</th:block>
					<div class="body">
						<div class="menu">
							<span class="views">조회수&nbsp;<b>[[${reviewList.revwHits}]]</b></span>
							<ul>
								<li>
									<span>신고</span>
								</li>
								<li>
									<span>삭제</span>
								</li>
							</ul>
						</div>
						<div class="profile"><a><i class="fa-solid fa-user"></i></a></div>
						<div class="info">
							<span class="writer">[[${ reviewList.memberId }]]</span><br>
							<span class="star" th:value="${ reviewList.revwRatings }"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
							<span class="date">[[${#dates.format(reviewList.revwRegDate, 'yyyy.MM.dd')}]]</span>
							<span class="store">&#8729;&nbsp;글벗문구 구매</span>
						</div>
						<div class="option">
		    				<p>
		    					<span th:text="|&nbsp;${ reviewList.option.pointSize }mm|"></span>
			    				<th:block th:if="${ reviewList.option.bodyColor != '(해당없음)' }">
			    					<span th:text="|/ ${#strings.replace(reviewList.option.bodyColor, '$', ',')}|"></span>
			    				</th:block>
			    				<th:block th:if="${ reviewList.option.inkColor != '(해당없음)' }">
			    					<span th:text="|/ ${#strings.replace(reviewList.option.inkColor, '$', ',')}|"></span>
			    				</th:block>
			    			</p>
						</div>
						<div class="content">
							<span>[(${ reviewList.revwContent })]</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-bs-dismiss="modal">닫기</button>
				</div> 
			</div>
		</div>
	</div>
	<!-- JS -->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/product.js}" type="text/javascript"></script>
    	<script>
	    	/* 썸네일박스 상단 고정 */
	    	$(window).scroll(function(){
	    		let contentTop = $('.thumbnailBox').outerHeight() - $('.infoBox').outerHeight();
	    		let scrollTop = $(this).scrollTop();
	    		if(scrollTop > contentTop) {
	    			$('.thumbnailBox').css('position', 'absolute');
	    		}
	    	});
	    	
	    	document.addEventListener('DOMContentLoaded', function(){
	    		/* 리뷰별 별점 색상 반영 */
	    		let rated = document.querySelectorAll('.star').length;
	    		for(let i=0; i < rated; i++) {
	    			let star = document.querySelectorAll('.star');
			    	let value = star[i].attributes[1].textContent;
			    	for(let j=0; j < value; j++) {
			    		star[i].children[j].style.color = '#00008b';
			    	}
	    		}
		    	/* 리뷰 상세보기 Modal */
		    	$('.post-area').on('click', function(){
		    		let reviewNo = $(this)[0].attributes[1].textContent;
		    		let target = '#review-content' + reviewNo;
		    		console.log(target);
		    		$(target).modal('show');
		    		//조회수 증가
		    		$.ajax({
		    			url : '/review/read',
		    			type : 'get',
		    			data : { no : reviewNo },
		    			success : function(result){ console.log('리뷰 조회수+1') },
		    			error : function(status, error){ console.log(status, error); }
		    		});
		    		return false;
		    	});
	    	});
    	</script>
    	<!-- ElevateZoom-Plus -->
		<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
		<script>
			$('#thumbnail').ezPlus({
				gallery: 'thumbs-gallery',
				cursor: 'pointer',
				galleryActiveClass: 'active',
				imageCrossFade: true,
				scrollZoom: true
			});
			$('#thumbnail').bind('click', function(e){
				var ez = $('#thumbnail').data('ezPlus');
				$.fancyboxPlus(ez.getGalleryList());
				return false;
			});
		</script>
    </th:block>
</body>
</html>