<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
	<meta charset="UTF-8">
	<title>글벗문구</title>
	<!-- CSS -->
	<th:block layout:fragment="css">
		<link th:href="@{/css/product.css}" rel="stylesheet">
	</th:block>
</head>
<body layout:fragment="content">
	<div class="container content-wrapper">
	<nav class="product-breadcrumb" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">HOME</a></li>
	    <li class="breadcrumb-item active" aria-current="page">[[${ section }]]</li>
	  </ol>
	</nav>
	
	<!-- 카테고리별 소분류 목록 -->
	<div class="classification">
		<h2 class="classify-title">[[${ section }]]</h2>
		<div class="classify-list">
			<ul>
				<th:block th:if="${ section == '전체 상품' }">
					<li th:each="section : ${ section }"><a th:text="${ section.categorySection }"></a></li>
				</th:block>
				<th:block th:unless="${ section == '전체 상품' }">
					<li class="minor-list" th:each="minorCategory : ${ categoryBySection }" th:data-target="${ minorCategory }"><a>[[${ minorCategory }]]</a><span class="classify-num">[[${ totalNumberMap.get(minorCategory) }]]</span></li>
				</th:block>
			</ul>
		</div>
	</div>
	<div class="product-filter">
		<div class="filter filter-brand">
			<ul>
				<li class="th"><p>브랜드</p></li>
				<li class="td">
					<span class="brand-span" th:each="brand : ${ brandBySection }" th:data-target="${ brand }"><a href="#">[[${ brand }]]</a></span>
				</li>
			</ul>
		</div>
		<div class="filter filter-price">
			<ul>
				<li class="th"><p>가격범위</p></li>
				<li class="td">
					<span class="price-span" data-target="all"><a href="#">전체보기</a></span>
					<span class="price-span" data-target="10000"><a href="#">~10,000원</a></span>
					<span class="price-span" data-target="30000"><a href="#">10,000~30,000원</a></span>
					<span class="price-span" data-target="50000"><a href="#">30,000~50,000원</a></span>
					<span class="price-span" data-target="80000"><a href="#">50,000~80,000원</a></span>
					<span class="price-span" data-target="over"><a href="#">80,000원~</a></span>
				</li>
			</ul>
		</div>
		<div class="filter filter-tag">
			<ul>
				<li class="th"><p>인기태그</p></li>
				<li class="td">
					<span class="tag-span" data-target="드로잉"><a href="#">드로잉</a></span>
					<span class="tag-span" data-target="선물용"><a href="#">선물용</a></span>
					<span class="tag-span" data-target="세밀한필기용"><a href="#">세밀한필기용</a></span>
					<span class="tag-span" data-target="중간굵기필기용"><a href="#">중간굵기필기용</a></span>
					<span class="tag-span" data-target="컬러링용"><a href="#">컬러링용</a></span>
				</li>
			</ul>
		</div>
		<div class="filter filter-color">
			<ul>
				<li class="th"><p>잉크색상</p></li>
				<li class="td">
					<th:block th:each="ink : ${T(com.reminder.geulbeotmall.product.model.dto.ProductInkColor).values()}">
						<span class="color-span" th:data-target="${ ink.getLabel() }">
							<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${ ink.getLabel() }">
								<i class="fa-solid fa-square-full" th:style="${ ink.getColor() }"></i>
							</a>
						</span>
					</th:block>
				</li>
			</ul>
		</div>
	</div>
	<div class="sorting">
		<form id="sortingForm" name="sortingForm" class="sorting-form" th:object="${itemCriteria}" th:action="@{/product/list}" method="get">
			<!--/* 폼 제출용 */-->
			<input type="hidden" name="page" th:field="*{page}">
			<input type="hidden" name="items" th:field="*{items}">
			<input type="hidden" name="section" th:field="*{section}" th:value="${ section }">
			
			<div class="product-desc">
				<p th:if="${ total }">총 <b>[[${ total }]]</b>개의 상품이 있습니다.</p>
				<p th:if="!${ total }">총 <b>0</b>개의 상품이 있습니다.</p>
			</div>
			<div class="limit-wrapper">
				<ul>
					<li>
						<div id="limitSelector" class="dropdown" tabindex="0">
							<span class="current" style="line-height: 40px;">8개씩</span>
							<div class="list">
								<ul>
									<li class="per" value="8" tabindex="0">8개씩</li>
									<li class="per" value="20" tabindex="0">20개씩</li>
									<li class="per" value="40" tabindex="0">40개씩</li>
								</ul>
							</div>
							<i class="fa-solid fa-chevron-down"></i>
						</div>
					</li>
				</ul>
			</div>
			<div class="selection-wrapper">
				<ul>
					<li>
						<label th:checked="*{sortBy} eq 'popularity'">
							<input type="radio" name="sortBy" value="popularity">
							<span>인기도순</span>
						</label>
						<label th:checked="*{sortBy} eq 'lowest'">
							<input type="radio" name="sortBy" value="lowest">
							<span>낮은가격순</span>
						</label>
						<label th:checked="*{sortBy} eq 'latest'">
							<input type="radio" name="sortBy" value="latest" checked="checked">
							<span>최신등록순</span>
						</label>
						<label>
							<input type="radio" name="sortBy" value="reviewed">
							<span>리뷰많은순</span>
						</label>
						<label>
							<input type="radio" name="sortBy" value="rated">
							<span>평점높은순</span>
						</label>
					</li>
				</ul>
			</div>
		</form>
	</div>
	<section class="product-section">
		<div class="product-list row">
		    <div class="col mb-5" th:each="product : ${ productList }" style="flex: none;">
		        <div class="card" th:data-id="|${product.productTag},${product.brand.brandName}$${ product.option.inkColor }$${product.category.categoryName}|">
		            <a th:href="@{/product/details(no=${product.prodNo})}">
		                <!-- Product image-->
		               <div class="card-img-wrapper" th:each="thumbnail : ${ thumbnailList }" th:if="${product.prodNo == thumbnail.refProdNo}">
		                   <img class="card-img-top" th:src="${ thumbnail.thumbnailPath }">
		               </div>
		               <!-- Product details-->
		               <div class="card-body">
							<div class="text-left" th:value="${ product.prodPrice - (product.prodPrice * product.discountRate / 100) }">
								<small>[[${ product.brand.brandName }]]</small>
								<h6>[[${ product.prodName }]]</h6>
								<!-- 판매가A. 할인 대상이 아닌 경우 원가 그대로 출력 -->
								<th:block th:if="${product.discountRate} == 0">
									<b class="price">[[${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')}]]원</b>
								</th:block>
								<!-- 판매가B. 적용된 할인율이 0% 이상인 경우 판매가 산정하여 출력 -->
								<th:block th:if="${product.discountRate} > 0">
									<b class="price">
										[[${#numbers.formatInteger(product.prodPrice - (product.prodPrice * product.discountRate / 100), 3, 'COMMA')}]]원
									</b>
									<del>[[${#numbers.formatInteger(product.prodPrice, 3, 'COMMA')}]]</del>
									<b>&nbsp;[[${ product.discountRate }]]%</b>
								</th:block>
								<span>
									리뷰수&nbsp;<b>[[${ reviewNumberMap.get(product.prodNo) }]]</b>&nbsp;&#8729;
									평점&nbsp;<b>[[${ reviewRatingMap.get(product.prodNo) }]]</b>/<b>5</b>
								</span>
							</div>
							<div class="text-right" th:unless="${ memberWishItem }">
								<i class="fa-regular fa-heart"></i>
							</div>
							<!-- 회원의 경우 위시리스트 상품은 별도 표시 -->
							<div class="text-right" th:if="${ memberWishItem }">
								<i th:if="${#lists.contains(memberWishItem, product.prodNo)}" style="color: #ff0000;" class="fa-solid fa-heart"></i>
								<i th:unless="${#lists.contains(memberWishItem, product.prodNo)}" class="fa-regular fa-heart"></i>
							</div>
						</div>
					</a>
		       </div>
		   </div>
		</div>
    </section>
	</div>
	<!-- JS -->
	<th:block layout:fragment="paging">
		<nav th:replace="/fragments/paging.html :: paging"></nav>
	</th:block>
    <th:block layout:fragment="script">
    	<script th:src="@{/js/filter.js}" type="text/javascript"></script>
	</th:block>
</body>
</html>