<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin}">
<head>
	<meta charset="UTF-8">
	<title>관리자페이지 | 글벗문구</title>
	<!--/* CSS */-->
    <th:block layout:fragment="css">
	    <link th:href="@{/css/customtable.css}" rel="stylesheet">
	    <link th:href="@{/css/paging.css}" rel="stylesheet">
	    <link th:href="@{/css/post.css}" rel="stylesheet">
	</th:block>
</head>
<body layout:fragment="content">
	<h1>게시글 관리</h1>
	<hr>
	<div class="card mb-4">
    	<div class="card-body">
			<div class="search-container">
				<form id="searchForm" name="searchForm" class="search-form" th:object="${criteria}" th:action="@{/admin/post/list}" method="get" onsubmit="checkKeywordForPost(); return false;">
					<select id="condition" name="condition" class="dataTable-selector">
						<option value="titleOrContent" th:selected="*{condition} eq 'titleOrContent'">제목+내용</option>
						<option value="idOrName" th:selected="*{condition} eq 'idOrName'">작성자</option>
					</select>
					<input type="search" name="keyword" th:field="*{keyword}" class="form-control search-bar" autocomplete="off">
					<input type="hidden" name="currentPageNo" th:field="*{currentPageNo}">
					<input type="hidden" name="recordsPerPage" th:field="*{recordsPerPage}">
					<button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
				</form>
			</div>
    	</div>
    </div>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="inquiry-tab" data-bs-toggle="tab" data-bs-target="#inquiry" type="button" role="tab" aria-controls="inquiry" aria-selected="true">문의 게시글 <b th:text="${ inquiry }" style="color: #ff0000;"></b></button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="true">리뷰 게시글 <b th:text="${ review }" style="color: #ff0000;"></b></button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="trash-tab" data-bs-toggle="tab" data-bs-target="#trash" type="button" role="tab" aria-controls="trash" aria-selected="true">휴지통 삭제글 <b th:text="${ trash }" style="color: #6c757d;"></b></button>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<!--/* 문의 게시글 */-->
		<div class="tab-pane fade show" id="inquiry" role="tabpanel" aria-labelledby="inquiry-tab">
            <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr>
                    	<th><input type="checkbox" class="input-checkbox checkAll"></th>
                    	<th><span>문의유형</span></th>
                    	<th><span>제목</span></th>
                    	<th><span>작성자</span></th>
                    	<th><span>작성일</span></th>
                    	<th><span>조회수</span></th>
                    	<th><span>답변상태</span></th>
                   	</tr>
                </thead>
                <tbody>
                	<tr th:each="postList : ${ totalInquiryList }" th:if="${not #lists.isEmpty(totalInquiryList)}" th:with="cri=${criteria}, inquiry=${inquiry}">
                		<td th:attr="data-value=${ postList.inquiryNo }"><input type="checkbox" class="input-checkbox item" name="checkItem"></td>
	                	<td th:text="${ postList.inquiryType }"></td>
	                	<td>
	    					<a th:href="@{/cs/inquiry/details(no=${ postList.inquiryNo })}">[[${ postList.inquiryTitle }]]</a>
	                	</td>
	                	<td>
	                		<a th:href="@{/admin/member/details(id=${ postList.memberId })}">[[${ postList.member.name }]]([[${#strings.replace(postList.memberId, #strings.substring(postList.memberId, 4), '***')}]])</a>
	                	</td>
	                	<td th:text="${#dates.format(postList.inquiryRegDate, 'yyyy.MM.dd HH:mm')}"></td>
	                	<td th:text="${ postList.inquiryHits }"></td>
	                	<td th:attr="data-value=${ postList.inquiryAnsweredYn }" th:text="${ postList.inquiryAnsweredYn == 'Y' ? '답변완료' : '미답변' }"></td>
                	</tr>
                	<tr th:unless="${#lists.size(totalInquiryList)} > 0">
                		<td colspan="7">조회된 결과가 없습니다.</td>
                	</tr>
               	</tbody>
            </table>
            </div>
            <th:block layout:fragment="paging">
				<nav th:replace="/fragments/paging.html :: pagingWithTotalInquiryNumber"></nav>
			</th:block>
		</div>
		<!--/* 리뷰 게시글 */-->
		<div class="tab-pane fade show" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr>
                    	<th><input type="checkbox" class="input-checkbox checkAll"></th>
                    	<th><span>제목</span></th>
                    	<th><span>내용</span></th>
                    	<th><span>작성자</span></th>
                    	<th><span>작성일</span></th>
                    	<th><span>조회수</span></th>
                   	</tr>
                </thead>
                <tbody>
                	<tr th:each="postList : ${ totalReviewList }" th:if="${not #lists.isEmpty(totalReviewList)}" th:with="cri=${criteria}, review=${review}">
                		<td th:attr="data-value=${ postList.reviewNo }"><input type="checkbox" class="input-checkbox item" name="checkItem"></td>
	                	<td>
	                		<p class="review-detail">
		    					<a data-toggle="modal" th:href="'#review-content' + ${ postList.reviewNo }">[[${ postList.revwTitle }]]</a>
		    				</p>
		    				<th:block layout:fragment="reviewModal">
								<div th:replace="/fragments/modal.html :: reviewModal"></div>
							</th:block>
	                	</td>
	                	<td class="review-content">[(${ postList.revwContent })]</td>
	                	<td th:text="${ postList.memberId }"></td>
	                	<td th:text="${#dates.format(postList.revwRegDate, 'yyyy.MM.dd')}"></td>
	                	<td th:text="${ postList.revwHits }"></td>
                	</tr>
                	<tr th:unless="${#lists.size(totalReviewList)} > 0">
                		<td colspan="7">조회된 결과가 없습니다.</td>
                	</tr>
               	</tbody>
            </table>
            </div>
            <th:block layout:fragment="paging">
				<nav th:replace="/fragments/paging.html :: pagingWithTotalReviewNumber"></nav>
			</th:block>
		</div>
		<!--/* 휴지통 삭제글 */-->
		<div class="tab-pane fade show" id="trash" role="tabpanel" aria-labelledby="trash-tab">
            <div class="dataTable-container">
            <table class="dataTable-table table-striped">
                <thead>
                    <tr>
                    	<th><input type="checkbox" class="input-checkbox checkAll"></th>
                    	<th><span>제목</span></th>
                    	<th><span>작성자</span></th>
                    	<th><span>삭제자</span></th>
                    	<th><span>삭제일</span></th>
                    	<th><span>복구기한</span></th>
                   	</tr>
                </thead>
                <tbody>
                	<tr th:each="postList : ${ totalTrashList }" th:if="${not #lists.isEmpty(totalTrashList)}" th:with="cri=${criteria}">
                		<td th:attr="data-value=${ postList.TRASH_NO }"><input type="checkbox" class="input-checkbox item" name="checkItem"></td>
	                	<td>[(${ postList.TRASH_TITLE })]</td>
	                	<td>[(${ postList.TRASH_WRITER })]</td>
	                	<td>[(${ postList.TRASH_DELETEBY })]</td>
	                	<td th:text="${#dates.format(postList.TRASH_DATE_MOVED, 'yyyy.MM.dd')}"></td>
	                	<td th:text="|~${#dates.format(postList.TRASH_DATE_UNTIL, 'yyyy.MM.dd')}|"></td>
                	</tr>
                	<tr th:unless="${#lists.size(totalTrashList)} > 0">
                		<td colspan="6">조회된 결과가 없습니다.</td>
                	</tr>
               	</tbody>
            </table>
            </div>
            <th:block layout:fragment="paging">
				<nav th:replace="/fragments/paging.html :: pagingWithTotalTrashNumber"></nav>
			</th:block>
		</div>
	</div>
    <th:block layout:fragment="postToolbar">
		<div th:replace="/fragments/toolbar.html :: postToolbar"></div>
	</th:block>
	<!-- JS -->
    <th:block layout:fragment="script">
    	<script th:src="@{/js/search.js}" type="text/javascript"></script>
    	<script th:src="@{/js/managePostList.js}" type="text/javascript"></script>
    	<script type="text/javascript">
    		/* 현재 로그인 중인 관리자 정보; session상에 저장해 받아온 id 값으로, 연결된 외부 js에서 ajax 통신 중 사용 */
    		const admin = '[[${loginMember}]]';
    		
	    	/* Modal */
	    	document.addEventListener('DOMContentLoaded', function(){
		    	$('.review-detail').on('click', function(){
		    		let target = '#' + $(this).parent().children(1)[1].id;
		    		console.log(target);
		    		$(target).modal('show');
			    	/* Rating */
			    	let value = $(this).parent().children(1)[1].children[0].children[0].children[1].children[1].children[2].children[2].attributes[1].textContent;
			    	for(let i=0; i < value; i++) {
			    		let star = $(this).parent().children(1)[1].children[0].children[0].children[1].children[1].children[2].children[2].children[i];
			    		star.style.color = '#00008b';
			    	}
		    		return false;
		    	});
	    	});
    	</script>
	</th:block>
</body>
</html>